{%extends 'base.jinja2'%}

{%block title%}Browse {{target.capitalize()}}{%endblock%}

{%block body%}

{%include 'header.jinja2'%}

<div class="container">

    <div class="page-header">
        <h1>Browse {{target.capitalize()}}</h1>
    </div>

  <p>
    Displaying a list of files in {{target}}
    {%-if endpoint_uri%}
      at <strong>{{endpoint_uri}}</strong>.<br>
      Click on a file name to display the contents in your browser or download
      via HTTP
    {%-endif%}.
  </p>

  {#TODO Link to "open in Transfer" that will open the directory in Transfer
         Files page in the webapp.#}

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <th class="col-md-5 text-left">File Name</th><th class="col-md-2 text-right">Size</th>
        {%if file_list%}
          {%for file in file_list%}
          <tr>
            <td class="col-md-5 text-left">
              <i class="fa fa-file"></i>&nbsp;
              {%if endpoint_uri%}
                <a href="{{endpoint_uri}}/{{file.name}}">{{file.name}}</a>
              {%else%}
                {{file.name}}
              {%endif%}
            </td>
            <td class="col-md-1 text-right">{{ file['size'] }}</td>
          </tr>
          {%endfor%}
        {%else%}
        <p>No files found in {{target}}.</p>
        {%endif%}
      </table>
    </div>
  </div>

</div> <!-- container -->

{%endblock%}
