
####################################################
# This is an example file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

#------------------------------------------------
# Default MRDP application configuration settings
#------------------------------------------------

PORTAL_VERSION = 'localdev'
SERVER_NAME = 'localhost:5050'
DEBUG = True

# globus:
PORTAL_CLIENT_ID = 'XXXX'
PORTAL_CLIENT_SECRET = 'XXXX'
GLOBUS_AUTH_LOGOUT_URI = 'https://auth.globus.org/v2/web/logout'
GLOBUS_REDIRECT_URI_SCHEME = 'http'
SECRET_KEY = '=.DKwWzDd}!3}6yeAY+WTF#W:zt5msTI7]2`o}Y!ziU!#CYD+;T9JpW$ud|5C_3'

# SLATE API:
SLATE_API_TOKEN = 'XXXX'
SLATE_API_ENDPOINT = 'XXXX'

# Mailgun
MAILGUN_API_TOKEN = 'XXXX'
