{%extends "base.html"%}

{%block title%}
  App Profile
{%endblock%}

{%block body%}
{%include 'messages.html'%}

<section id="app-profile" class="bg-light">
  <div class="container">

    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_applications')}}">App</a></li>
          <li class="breadcrumb-item active">{{name}}</li>
        </ol>
        <h1>App: {{name}}</h1>
        <div class="install-app" style="padding: 10px 0;">
          <form action="{{url_for('create_application', name=name)}}">
            <button class="btn btn-primary" type="submit" name="button">Install App</button>
          </form>
        </div>
        <!-- <hr/> -->
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">App Configuration</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><pre id="json">{{app_config['spec']['body']}}</pre></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>
{%endblock%}
