{%extends "base.html"%}

{%block title%}
  App Profile
{%endblock%}

{%block body%}

<section id="app-profile" class="bg-light">
  <div class="container col-lg-12 mx-auto">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        {%include 'messages.html' %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% if session.get('is_authenticated') %}{{url_for('dashboard')}}{% else %}{{url_for('home')}}{% endif %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_applications')}}">Applications</a></li>
          <li class="breadcrumb-item active">{{name}}</li>
        </ol>
        {% if not error %}
        <h1>App: {{name}}</h1>
        <p class="lead">
          See <a href="https://github.com/slateci/slate-catalog/tree/master/incubator/{{name}}/{{name}}" target="_blank">chart source</a> for any further details
        </p>
        <p>Chart Version: {{chart_version}}</p>
        <p>App Version: {{app_version}}</p>
        {% else %}
        <h1>Could not find the application you are looking for...</h1>
        {% endif %}

        <ul class="nav nav-tabs">
          <li class="active"><a class="nav-item nav-link active" data-toggle="tab" href="#home">Read Me</a></li>
          <li><a class="nav-item nav-link" data-toggle="tab" href="#app-configuration">App Configuration</a></li>
        </ul>

        <div class="tab-content">
          <div id="home" class="tab-pane fade in show active">
            <br/>
            {% filter markdown %}<span id='app_readme'></span>{% endfilter %}
          </div>

          <div id="app-configuration" class="tab-pane fade">
            <!-- <hr/> -->
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td><pre id="json"></pre></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
<script type="text/javascript">

var md = new Remarkable();

window.onload = start();

  function get_app_incubator_readme(){
    $.ajax({
      url: "/apps_incubator_readme_ajax/{{name}}",
      type: "get",
      dataType: 'json',
      success: function(data){
        console.log("SUCCESS");
        console.log(data);
        var app_readme = data['spec']['body'];
        $('#app_readme').html(md.render(app_readme));
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(jqXHR.status);
        console.log(textStatus);
        console.log(errorThrown);
        console.log("BIG MISTAKE");
      }
    });
  }

  function get_app_incubator_config(){
    $.ajax({
      url: "/apps_incubator_config_ajax/{{name}}",
      type: "get",
      dataType: 'json',
      success: function(data){
        console.log("SUCCESS");
        console.log(data);
        var app_config = data['spec']['body'];
        $('#json').html(app_config);
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(jqXHR.status);
        console.log(textStatus);
        console.log(errorThrown);
        console.log("BIG MISTAKE");
      }
    });
  }

  function start() {
    get_app_incubator_readme();
    get_app_incubator_config();
  }

  // Javascript to enable link to tab
  var url = document.location.toString();
  if (url.match('#')) {
      $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
  }

  // // Change hash for page-reload
  // $('.nav-tabs a').on('shown.bs.tab', function (e) {
  //     window.location.hash = e.target.hash;
  // })
</script>
{%endblock%}
