{%extends "base.html"%}

{%block title%}Applications{%endblock%}

{%block body%}

<section id="clusters" class="bg-light">
  <div class="container col-lg-11 mx-auto">

    <div class='row'>
      <div class="col-lg-12 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% if session.get('is_authenticated') %}{{url_for('dashboard')}}{%else%}{{url_for('home')}}{% endif %}">Home</a></li>
          <li class="breadcrumb-item active">Applications</li>
        </ol>
        <!-- <h2>Applications</h2>
        <p class="lead">
          List of curated applications
        </p> -->

        <div class="table-responsive">
          <h4>Curated Applications</h4>
          <table class="table" id="#" data-toggle="table" data-sort-name="name" data-sort-order="desc">
            <thead>
              <tr>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="group_id" data-sortable="true">Description</th>
                <th data-field="chart_version" data-sortable="true">Chart version</th>
                <th data-field="app_version" data-sortable="true">App Version</th>
              </tr>
            </thead>
            <tbody data-link="row" class="rowlink" style="font-size:14px;">
              {% for application in applications %}
              <tr>
                <td><a href="{{url_for('view_application', name=application['metadata']['name'])}}">{{application['metadata']['name']}}</a></td>
                <td>{{application['metadata']['description']}}</td>
                <td>{{application['metadata']['chart_version']}}</td>
                <td>{{application['metadata']['app_version']}}</td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>

      </div>
    </div>

  </div> <!-- container -->
</section>
{%endblock%}
