{%extends "base.html"%}

{%block title%}
  Install Application
{%endblock%}

{%block body%}
<section id="app-profile" class="bg-light">
  <div class="container col-lg-12 mx-auto">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_applications')}}">App</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('view_application', name=name)}}">{{name}}</a></li>
          <li class="breadcrumb-item active">Install Application </li>
        </ol>
        <h1>Install Application: </h1>
        <h5>Group: {{group_name}}</h5>
        <hr/>

        <form role="form" action="{{url_for('create_application', name=name, group_name=group_name)}}" method="POST">
          <div class="form-group">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          </div>
          
          <div class="form-group">
            <label for="cluster">Cluster</label>
            <span v-if='loading'>
              Loading Data <i class="fas fa-sync fa-spin"></i>
            </span>
            <span v-if='failed'>
              Failed to load the data, please refresh the page <i class="far fa-times-circle"></i>
            </span>
            <select class="form-control" id="cluster" name="cluster" required="required" tabindex="2">
              <option value="" selected disabled>--- Select One ---</option>
              <option v-for='cluster in clusters' :value="cluster.metadata.name">{[{cluster.metadata.name}]}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="config">Configuration:</label>
            <span v-if='loading'>
              Loading Data <i class="fas fa-sync fa-spin"></i>
            </span>
            <span v-if='failed'>
              Failed to load the data, please refresh the page <i class="far fa-times-circle"></i>
            </span>
            <span v-else>
              <textarea class="form-control" rows="10" id="config" name="config" style="resize: vertical;">{[{app_config}]}</textarea>
            </span>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-box-shadow">Install</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>

<meta id="flask-data" 
      data-group_name="{{group_name}}" 
      data-app_name="{{name}}">
<script>
var flask_data = $('#flask-data').data();
var group_name = flask_data.group_name;
var app_name = flask_data.app_name;

new Vue({
  el: '#app-profile',
  data () {
    return {
      app_config: null,
      clusters: {},
      loading: true,
      failed: false
    }
  },
  mounted(){
    axios.get('/applications-create-final-xhr/' + group_name + '/' + app_name)
  .then(function (response) {
    this.app_config = response.data[0];
    this.clusters = response.data[1];
    this.loading = false;
  }.bind(this)) //must use bind(this) unless using arrow function
  .catch(error => { this.failed = true; this.loading = false; })
  },
  updated: function() {
    // Function to sort group listing after mounted
	  var options = $('select.form-control option');
    var arr = options.map(function(_, o) { return { t: $(o).text(), v: o.value }; }).get();
    arr.sort(function(o1, o2) { return o1.t > o2.t ? 1 : o1.t < o2.t ? -1 : 0; });
    options.each(function(i, o) {
      o.value = arr[i].v;
      $(o).text(arr[i].t);
    });
	}
})
</script>
{%endblock%}
