{%extends "base.html"%}

{%block title%}
  App Profile
{%endblock%}

{%block body%}

<section id="app-profile" class="bg-light">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        {%include 'messages.html' %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% if session.get('is_authenticated') %}{{url_for('dashboard')}}{% else %}{{url_for('home')}}{% endif %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_applications')}}">App</a></li>
          <li class="breadcrumb-item active">{{name}}</li>
        </ol>

        <h1>App: {{name}}</h1>
        <p class="lead">
          See <a href="https://github.com/slateci/slate-catalog/tree/master/stable/{{name}}/{{name}}" target="_blank">chart source</a> for any further details
        </p>
        <p>Chart Version: {{chart_version}}</p>
        <p>App Version: {{app_version}}</p>
        {% if session.get('is_authenticated') %}
        <div class="install-app" style="padding: 10px 0;">
          <form action="{{url_for('create_application', name=name)}}" method="GET">
            <button class="btn btn-primary btn-sm" type="submit">Install App</button>
          </form>
        </div>
        {% endif %}

        <ul class="nav nav-tabs">
          <li class="active"><a class="nav-item nav-link active" data-toggle="tab" href="#home">Read Me</a></li>
          <li><a class="nav-item nav-link" data-toggle="tab" href="#menu1">App Configuration</a></li>
        </ul>

        <div class="tab-content">
          <div id="home" class="tab-pane fade in show active">
            <br/>
            {% filter markdown %}{{app_readme['spec']['body']|safe}}{% endfilter %}
          </div>

          <div id="menu1" class="tab-pane fade">
            <!-- <hr/> -->
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td><pre id="json">{{app_config['spec']['body']}}</pre></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
{%endblock%}
