{%extends "base.html"%}

{%block title%}Applications{%endblock%}

{%block body%}

<section id="clusters" class="bg-light">
  <div class="container col-lg-12 mx-auto">

    <div class='row'>
      <div class="col-lg-12 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% if session.get('is_authenticated') %}{{url_for('dashboard')}}{%else%}{{url_for('home')}}{% endif %}">Home</a></li>
          <li class="breadcrumb-item active">Applications</li>
        </ol>

        <ul class="nav nav-tabs">
          <li class="active"><a class="nav-item nav-link active" data-toggle="tab" href="#home">Stable Applications</a></li>
          <li><a class="nav-item nav-link" data-toggle="tab" href="#menu1">Incubator Applications</a></li>
        </ul>
        <div class="tab-content">

          <div id="home" class="tab-pane fade in show active">
            <div class="table-responsive">
              <br/>
              <p class="lead">
                List of stable applications
              </p>
              <table class="table" id="apps-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
                <thead>
                  <tr>
                    <th data-field="name" data-sortable="true">Name</th>
                    <th data-field="group_id" data-sortable="true">Description</th>
                    <th data-field="chart_version" data-sortable="true">Chart version</th>
                    <th data-field="app_version" data-sortable="true">App Version</th>
                  </tr>
                </thead>
                <tbody data-link="row" class="rowlink" style="font-size:14px;" id="apps-ajax">
                  <tr v-if="loading">
              			<td>Loading Data <i class="fas fa-sync fa-spin"></i></td>
              			<td><i class="fas fa-sync fa-spin"></i></td>
              			<td><i class="fas fa-sync fa-spin"></i></td>
              			<td><i class="fas fa-sync fa-spin"></i></td>
              		</tr>
              		<tr v-if="failed">
              			<td>Failed to load the data, please refresh the page <i class="far fa-times-circle"></i></td>
              			<td><i class="far fa-times-circle"></i></td>
              			<td><i class="far fa-times-circle"></i></td>
              			<td><i class="far fa-times-circle"></i></td>
              		</tr>

                  <tr v-for="(application, index) in applications" v-cloak >
              		  <td><a :href="'/applications/' + application.metadata.name">{[{application.metadata.name}]}</a></td>
              		  <td>{[{application.metadata.description}]}</td>
              		  <td>{[{application.metadata.chart_version}]}</td>
                    <td>{[{application.metadata.app_version}]}</td>
              		</tr>

                </tbody>

              </table>
            </div>
          </div>

          <div id="menu1" class="tab-pane fade">
            <div class="table-responsive">
              <br/>
              <p class="lead">
                List of incubator applications that are still under development
              </p>
              <table class="table" id="incubator-apps-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
                <thead>
                  <tr>
                    <th data-field="name" data-sortable="true">Name</th>
                    <th data-field="group_id" data-sortable="true">Description</th>
                    <th data-field="chart_version" data-sortable="true">Chart version</th>
                    <th data-field="app_version" data-sortable="true">App Version</th>
                  </tr>
                </thead>
                <tbody data-link="row" class="rowlink" style="font-size:14px;">
                  {% for application in incubator_apps %}
                  <tr>
                    <td><a href="{{url_for('view_incubator_application', name=application['metadata']['name'])}}">{{application['metadata']['name']}}</a></td>
                    <td>{{application['metadata']['description']}}</td>
                    <td>{{application['metadata']['chart_version']}}</td>
                    <td>{{application['metadata']['app_version']}}</td>
                  </tr>
                  {% endfor %}
                </tbody>

              </table>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div> <!-- container -->
</section>

<script>
$(document).ready(function() {
    new Vue({
	el: '#apps-ajax',
	data () {
	    return {
	      applications: {},
		loading: true,
		failed: false
	    }
	},
	updated: function() {
	    //call DataTable after view is updated
      $('#apps-table').DataTable();
      $('#incubator-apps-table').DataTable();
	},
	mounted() {
            axios.get('/applications-xhr')
	        .then(function (response) {
		    this.applications = response.data;
				this.loading = false;
		}.bind(this)) //must use bind(this) unless using arrow function
		.catch(error => { this.failed = true; this.loading = false; })
		}
  });
});
</script>
{%endblock%}
