{%extends "base.html"%}

{%block title%}
  CLI Access
{%endblock%}

{%block body%}
<section id="cli-access" class="bg-light">
  <div class="container">
    <div class="page-header">
      <!-- <h1>CLI Access</h1> -->
    </div>

    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>CLI Access</h2>
        <p class="lead">
          <ul>
            <li>Run the following script to install your SLATE access token on a computer where you want to use the client program (Click button below to copy script to clipboard)</li>
            <li>Download the client executable binary suitable for your system: <a href="https://jenkins.slateci.io/artifacts/client/slate-linux.tar.gz" target="
              ">Linux</a> or <a href="https://jenkins.slateci.io/artifacts/client/slate-macos.tar.gz" target="_blank">MacOS (version 10.9+)</a></li>
          </ul>
        </p>

        <hr/>

        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Run this script to install your access token
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <!-- <textarea id="pubtoken" readonly disabled font-size="16"></textarea> -->
                <textarea type="text" id="cli_access">
#!/bin/sh
mkdir -p -m 0700 "$HOME/.slate"
if [ "$?" -ne 0 ] ; then
	echo "Not able to create $HOME/.slate" 1>&2
	exit 1
fi

echo "{{access_token}}" > "$HOME/.slate/token"
if [ "$?" -ne 0 ] ; then
	echo "Not able to write token data to $HOME/.slate/token" 1>&2
	exit 1
fi
chmod 600 "$HOME/.slate/token"
echo '{{slate_api_endpoint}}' > ~/.slate/endpoint

echo "SLATE access token successfully stored"
                </textarea>
                <button class="btn btn-primary" onclick="myFunction()">Copy Script to Clipboard</button>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<script>


function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("cli_access");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  // alert("Copied the text: " + copyText.value);
}

</script>
{%endblock%}
