{%extends "base.html"%}

{%block title%}CLI Access{%endblock%}

{%block body%}

<section id="cli-access" class="bg-light">
  <div class="container col-lg-12 mx-auto">
    <div class='row'>
      <div class="col-lg-12 mx-auto">
        {%include 'messages.html' %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% if session.get('is_authenticated') %}{{url_for('dashboard')}}{%else%}{{url_for('home')}}{% endif %}">Home</a></li>
          <li class="breadcrumb-item active">CLI Access</li>
        </ol>
        <h2>CLI Access</h2>
        <p class="lead">The SLATE Remote Client is the command-line program used to communicate with the SLATE API server. Below are the installation steps necessary to get the client up and running on your system.</p>
        <h3 class="h5">Set Up the Access Token</h3>
        <p>Run the following script to install your SLATE Access Token on your system:</p>
        <div class="row">
          <div class="col-sm-12">
            <div class="card h-100 btn-box-shadow">
              <div class="card-body" id='instances-card'>
                <textarea type="text" id="cli_access">
#!/bin/sh
mkdir -p -m 0700 "$HOME/.slate"
if [ "$?" -ne 0 ] ; then
	echo "Not able to create $HOME/.slate" 1>&2
	exit 1
fi

echo "{{access_token}}" > "$HOME/.slate/token"
if [ "$?" -ne 0 ] ; then
	echo "Not able to write token data to $HOME/.slate/token" 1>&2
	exit 1
fi
chmod 600 "$HOME/.slate/token"
echo '{{slate_api_endpoint}}' > ~/.slate/endpoint

echo "SLATE access token successfully stored"
                      </textarea>
                <button class="btn btn-primary" onclick="myFunction()">Copy Script to Clipboard</button>
              </div>
            </div>
          </div>
        </div>
        <h3 class="h5 pt-4">Install the SLATE Remote Client</h3>
        <div class="row">
          <div class="col-sm-12">
            <ol>
              <li>Navigate to the <a href="https://github.com/slateci/slate-client-server/releases/latest">GitHub Releases page</a></li>
              <li>Download the tarball and checksum file for your system</li>
              <li>Verify the tarball: <code>sha256sum -c slate-&lt;platform&gt;.sha256</code></li>
              <li>Unpack the tarball: <code>tar xzvf slate-&lt;platform&gt;.tar.gz</code></li>
              <li>Copy the binary to the desired location on your system (e.g. <code>/usr/bin</code>)</li>
            </ol>
          </div>
        </div>
        <h3 class="h5">Basic Use</h3>
        <p>Check out the <a href="https://slateci.io/docs/tools">SLATE website</a> for instructions on using the SLATE Remote Client.</p>
      </div>
    </div>
  </div>
</section>

<script>

function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("cli_access");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");
}

</script>
{%endblock%}
