{%extends "base.html"%}

{%block title%}
  Register New Cluster
{%endblock%}

{%block body%}
<section id="cli-access" class="bg-light">
  <div class="container">
    <div class="page-header">
    </div>

    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Register New Cluster</h2>
        <p class="lead">
          Enter Cluster information below
        </p>

        <hr/>

            <form role="form" action="{{url_for('create_group')}}" method="POST">
              <div class="form-group">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              </div>
              <div class="form-group">
                <label for="name">Cluster Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Cluster Name"
                  id="name"
                  name="name"
                  required="required"
                  tabindex="1"
                  value=""
                >
              </div>

              <div class="form-group">
                <label for="group">Group ID</label>
                <select class="form-control" id="group" name="group">
                  <option value="">testing</option>
                </select>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
              </div>

            </form>

      </div>

    </div>
  </div>
</section>

<script>

window.onload = get_states();

function get_states(){
  $.ajax({
    url: "http://128.135.158.222:18080/v1alpha1/users?token=3acc9bdc-1243-40ea-96df-373c8a616a16",
    type: "get",
    dataType: 'json',
    success: function(data){
      if(data.items){
         $('#test').html(data.items);
      }

    },
    error: function(xhr){
      //Do Something to handle error
    }
  });
}

function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("cli_access");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}

</script>
{%endblock%}
