{%extends "base.html"%}

{%block title%}
  Node Details
{%endblock%}

{%block body%}
<section id="cluster-node-details" class="bg-light">
  <div class="container col-lg-12 mx-auto">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_clusters')}}">Clusters</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('view_public_cluster', name=cluster_name)}}">{{cluster_name}}</a></li>
          <li class="breadcrumb-item active">{{node_name}}</li>
        </ol>
        <h1>Node: {{node_name}}</h1>
        <hr/>
        <h4>Monitoring Status</h4>
        <hr/>

        <div class="row">
          <div class="col-sm-12">
            <div class="card h-100">
              <!-- CPU -->
              <div class="card-body">
                <iframe src="https://monitoring.umich-prod.slateci.net/d-solo/6u_Akx7Gk/cluster-node-monitoring-updated?orgId=1&theme=light&var-DS_PROMETHEUS=SLATE&var-cluster={{cluster_name}}&var-name={{node_name}}&panelId=3" width="100%" height="400" frameborder="0" style="pointer-events: none"></iframe>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <div class="card h-100">
              <!-- memory -->
              <div class="card-body">
                <iframe src="https://monitoring.umich-prod.slateci.net/d-solo/6u_Akx7Gk/cluster-node-monitoring-updated?orgId=1&theme=light&var-DS_PROMETHEUS=SLATE&var-cluster={{cluster_name}}&var-name={{node_name}}&panelId=24" width="100%" height="400" frameborder="0" style="pointer-events: none"></iframe>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <div class="card h-100">
              <!-- network -->
              <div class="card-body">
                <iframe src="https://monitoring.umich-prod.slateci.net/d-solo/6u_Akx7Gk/cluster-node-monitoring-updated?orgId=1&theme=light&var-DS_PROMETHEUS=SLATE&var-cluster={{cluster_name}}&var-name={{node_name}}&panelId=84" width="100%" height="400" frameborder="0"></iframe>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <div class="card h-100">
              <!-- disk -->
              <div class="card-body">
                <iframe src="https://monitoring.umich-prod.slateci.net/d-solo/6u_Akx7Gk/cluster-node-monitoring-updated?orgId=1&theme=light&var-DS_PROMETHEUS=SLATE&var-cluster={{cluster_name}}&var-name={{node_name}}&panelId=156" width="100%" height="400" frameborder="0" style="pointer-events: none"></iframe>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{%endblock%}