{%extends "base.html"%}

{%block title%}
  Cluster Profile
{%endblock%}

{%block body%}
<section id="cluster-profile" class="bg-light">
  <div class="container">

    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_vos')}}">VO</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('view_vo', name=project_name)}}">{{project_name}}</a></li>
          <li class="breadcrumb-item active">{{name}}</li>
        </ol>
        <h1>Cluster Info: {{name}}</h1>
        <!-- <hr/> -->
        <div class="container" style="padding:10px;">
          <h4>Grant VO Access to Cluster Whitelist</h4>
          <form class="form-inline" role="form" action="{{url_for('view_cluster', project_name=project_name, name=name)}}" method="POST">
            <!-- <div class="input-group"> -->
              <fieldset class="form-group">
               <select class="form-control input-group" name="new_vo" tabindex="1" required style="width: 100%;">
                 {% for vo in non_access_vos %}
                 <option value="{{vo}}" required>{{vo}}</option>
                 {% endfor %}
               </select>
             </fieldset>
              <button type="submit" name="btn" value="adduser" class="btn btn-primary btn-xs" data-submit="...Sending">Add VO</button>
          </form>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">VOs with access to cluster</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for vo in cluster_vos %}
              {% if vo['metadata']['name'] != project_name %}
            <tr>
              <td>{{vo['metadata']['name']}}</td>
              <td>
                <form role="form" action="{{url_for('view_cluster', project_name=project_name, name=name)}}" method="POST">
                  <button type="submit" name="remove_vo" value="{{vo['metadata']['name']}}" class='btn btn-danger btn-xs'>Revoke Access</button>
                </form>
              </td>
            </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Applications that may run on {{name}} cluster</th>
            </tr>
          </thead>
          <tbody>
            {% for app in applications %}
            <tr>
              <td>{{app}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>

<script>

window.onload = get_states();

function get_states(){
  $.ajax({
    url: "http://128.135.158.222:18080/v1alpha1/users?token=3acc9bdc-1243-40ea-96df-373c8a616a16",
    type: "get",
    dataType: 'json',
    success: function(data){
      if(data.items){
         $('#test').html(data.items);
      }

    },
    error: function(xhr){
      //Do Something to handle error
    }
  });
}

</script>
{%endblock%}
