{%extends "base.html"%}

{%block title%}Clusters{%endblock%}

{%block body%}

<section id="clusters" class="bg-light">
  <div class="container col-lg-12 mx-auto">

    <div class='row'>
      <div class="col-lg-12 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item active">Clusters</li>
        </ol>

        <div class="table-responsive">
          <h4>Slate Clusters</h4>
          <table class="table" id="cluster-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
            <thead>
              <tr>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="group_id" data-sortable="true">Group</th>
                <th data-field="location" data-sortable="true">Location</th>
                <th data-field="status" data-sortable="true">Status</th>
                <th data-field="organization" data-sortable="true">Organization</th>
              </tr>
            </thead>
            <tbody id="table-data" data-link="row" class="rowlink" style="font-size:14px;">
          		<tr v-if="loading">
          			<td>Loading Data <i class="fas fa-sync fa-spin"></i></td>
          			<td><i class="fas fa-sync fa-spin"></i></td>
          			<td><i class="fas fa-sync fa-spin"></i></td>
          			<td><i class="fas fa-sync fa-spin"></i></td>
          			<td><i class="fas fa-sync fa-spin"></i></td>
          		</tr>
          		<tr v-if="failed">
          			<td>Failed to load the data, please refresh the page <i class="far fa-times-circle"></i></td>
          			<td><i class="far fa-times-circle"></i></td>
          			<td><i class="far fa-times-circle"></i></td>
          			<td><i class="far fa-times-circle"></i></td>
          			<td><i class="far fa-times-circle"></i></td>
          		</tr>

          		<tr v-for="(cluster, index) in clusters" v-cloak >
          			<td><a :href="'/clusters/' + cluster.metadata.name">{[{cluster.metadata.name}]}</a></td>
          			<td>{[{cluster.metadata.owningGroup}]}</td>
          			<td>
						<span v-for="location in cluster.metadata.location">
							<span v-if="location.desc">
								{[{location.desc}]}
							</span>
							<span v-else>
								{[{location.lat}]},{[{location.lon}]}
							</span>
						</span>
					</td>
          			<td>
          		    	<span v-if="clusterStatus[cluster.metadata.name]">
          			    	<i class="fas fa-check-circle" style="color: green"></i> Reachable
          				</span>
          				<span v-else>
          					<i class="fas fa-times-circle" style="color: red"></i> Unreachable
    					</span>
          			</td>
          			<td>{[{cluster.metadata.owningOrganization}]}</td>
          		</tr>
            </tbody>

          </table>
        </div>

      </div>
    </div>

  </div> <!-- container -->
</section>

<script>
$(document).ready(function() {
    new Vue({
	el: '#table-data',
	data () {
	    return {
	      clusters: {},
		clusterStatus: {},
		loading: true,
		failed: false
	    }
	},
	updated: function() {
	    //call DataTable after view is updated
	    $('#cluster-table').DataTable({
			order: [[3, 'asc']],
			});
	},
	mounted() {
            axios.get('/clusters-xhr')
	        .then(function (response) {
		    this.clusters = response.data[0];
		    this.clusterStatus = response.data[1];
				this.loading = false;
		}.bind(this)) //must use bind(this) unless using arrow function
		.catch(error => { this.failed = true; this.loading = false; })
		}
  });
});
</script>
{%endblock%}