{%extends "base.html"%}

{%block title%}Clusters{%endblock%}

{%block body%}

<section id="clusters" class="bg-light">
  <div class="container">

    <div class='row'>
      <div class="col-lg-8 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Clusters</li>
        </ol>
        <h2>Clusters</h2>
        <p class="lead">
          List of clusters registered on SLATE
        </p>

        <div class="table-responsive">
          <h4>Slate Clusters</h4>
          <table class="table" id="#" data-toggle="table" data-sort-name="name" data-sort-order="desc">
            <thead>
              <tr>
                <th data-field="name" data-sortable="true">Cluster Name</th>
                <th data-field="vo_id" data-sortable="true">Administering VO</th>
              </tr>
            </thead>
            <tbody data-link="row" class="rowlink" style="font-size:12px;">
              {% for cluster in slate_clusters %}
              <tr>
                <td>{{cluster['metadata']['name']}}</td>
                <td>{{cluster['metadata']['owningVO']}}</td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>

      </div>
    </div>

  </div> <!-- container -->
</section>
{%endblock%}
