{%extends "base.html"%}

{%block title%}
  Cluster Profile
{%endblock%}

{%block body%}
<section id="cluster-profile" class="bg-light">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_clusters')}}">Clusters</a></li>
          <li class="breadcrumb-item active">{{cluster['metadata']['name']}}</li>
        </ol>
        <h1>Cluster: {{cluster['metadata']['name']}}</h1>
        <hr/>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header">
                Cluster Information
              </div>
              <div class="card-body">
                <p class="lead">
                  <strong>Administering Group:</strong>
                  {{cluster['metadata']['owningGroup']}}
                </p>
                <p class="lead">
                  <strong>Contact:</strong>
                  <a href="mailto:{{owningGroupEmail}}">{{owningGroupEmail}}</a>
                </p>
                <p class="lead">
                  <strong>Organization:</strong>
                  {{cluster['metadata']['owningOrganization']}}
                </p>
                <p class="lead">
                  <strong>Location:</strong>{% for loc in cluster['metadata']['location'] %} {{loc['lat'], loc['lon']}} {% endfor %}
                </p>
                <p class="lead">
                  <strong>Status:</strong> {% if cluster_status == 'True'%} Reachable <i class="fas fa-check-circle" style="color: green"></i> {% else %} Currently unreachable <i class="fas fa-times-circle" style="color: red"></i> {% endif %}
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card">
              <div class="card-header">
                Groups with access
              </div>
              <div class="card-body">
                <ul class="list-unstyled">
                {% for group in allowed_groups %}
                  <li><a href="{{url_for('view_public_group', name=group['metadata']['name'])}}">{{group['metadata']['name']}}</a></li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
{%endblock%}
