{%extends "base.html"%}

{%block title%}
  Cluster Profile
{%endblock%}

{%block body%}
<section id="cluster-profile" class="bg-light">
  <div class="container col-lg-11 mx-auto">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_clusters')}}">Clusters</a></li>
          <li class="breadcrumb-item active">{{cluster['metadata']['name']}}</li>
        </ol>
        <h1>Cluster: {{cluster['metadata']['name']}}</h1>
        <hr/>
        <div class="row">
          <div class="col-sm-6">
            <div class="card h-100">
              <div class="card-header">
                Cluster Information
              </div>
              <div class="card-body">
                <p class="lead">
                  <strong>Administering Group:</strong>
                  {{cluster['metadata']['owningGroup']}}
                </p>
                <p class="lead">
                  <strong>Contact:</strong>
                  <a href="mailto:{{owningGroupEmail}}">{{owningGroupEmail}}</a>
                </p>
                <p class="lead">
                  <strong>Organization:</strong>
                  {{cluster['metadata']['owningOrganization']}}
                </p>
                <p class="lead">
                  <strong>Location:</strong>{% for loc in cluster['metadata']['location'] %} {{loc['lat'], loc['lon']}} {% endfor %}
                </p>
                <p class="lead">
                  <strong>Status:</strong> {% if cluster_status == 'True'%} Reachable <i class="fas fa-check-circle" style="color: green"></i> {% else %} Currently unreachable <i class="fas fa-times-circle" style="color: red"></i> {% endif %}
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card h-100">
              <div class="card-header">
                Groups with access
              </div>
              <div class="card-body">
                <ul class="list-unstyled">
                {% for group in allowed_groups %}
                  {% if group['metadata']['name'] == '<all>' %}
                  <li><a href="{{url_for('list_public_groups')}}">{{group['metadata']['name']}}</a></li>
                  {% else %}
                  <li><a href="{{url_for('view_public_group', name=group['metadata']['name'])}}">{{group['metadata']['name']}}</a></li>
                  {% endif %}
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <br/>
        {% if cluster['metadata']['name'] in ['uutah-prod', 'umich-prod', 'uchicago-prod', 'uchicago-test', 'uchicago-river']%}
        <div class="row">
          <div class="col-sm-6">
            <div class="card h-100">
              <!-- <div class="card-header">
                Average Memory Utilization
              </div> -->
              <div class="card-body">
                <iframe src="https://grafana.mwt2.org/d-solo/TJJNJgCiz/k8s-monitoring-test?orgId=1&var-clustername={{cluster['metadata']['name']}}&panelId=12&from=-6h&to=now&theme=light" width="100%" height="200" frameborder="0"></iframe>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card h-100">
              <!-- <div class="card-header">
                Average Uptime
              </div> -->
              <div class="card-body">
                <iframe src="https://grafana.mwt2.org/d-solo/TJJNJgCiz/k8s-monitoring-test?orgId=1&var-clustername={{cluster['metadata']['name']}}&panelId=7&from=-6h&to=now&theme=light" width="100%" height="200" frameborder="0"></iframe>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-sm-12">
            <div class="card h-100">
              <div class="card-header">
                Load Monitoring
              </div>
              <div class="card-body">
                <iframe src="https://monitoring.uchicago-prod.slateci.net/d-solo/3T3FQKnZk/slate-cluster-status?orgId=1&var-cluster={{cluster['metadata']['name']}}&theme=light&panelId=5" width="100%" height="200" frameborder="0"></iframe>
              </div>
            </div>
          </div>
        </div>
	
        <div class="row">
          <div class="col-sm-12">
            <div class="card h-100">
              <div class="card-header">
                Node details
              </div>
              <div class="card-body">
                <iframe src="https://monitoring.uchicago-prod.slateci.net/d-solo/3T3FQKnZk/slate-cluster-status?orgId=1&var-cluster={{cluster['metadata']['name']}}&theme=light&panelId=3" width="100%" height="200" frameborder="0"></iframe>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

      </div>
    </div>

  </div>
</section>
{%endblock%}
