{%extends "base.html"%}

{%block title%}
  Cluster Profile
{%endblock%}

{%block body%}
<section id="cluster-profile" class="bg-light">
  <div class="container col-lg-12 mx-auto">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        {%include 'messages.html' %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_groups')}}">Group</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('view_group', name=project_name)}}">{{project_name}}</a></li>
          <li class="breadcrumb-item active">{{name}}</li>
        </ol>
        <h1>Cluster Info: {{name}}</h1>
        <p class="lead">
          <ul class="list-unstyled">
          <strong>Organization:</strong>
          {{cluster['metadata']['owningOrganization']}}
          </ul>
        </p>
        <p class="lead">
          <ul class="list-unstyled">
          <strong>Location Coordinates: </strong>
          {% for loc in cluster['metadata']['location']%}
          <li>({{loc['lat']}}, {{loc['lon']}})</li>
          {%endfor%}
          </ul>
        </p>
        {% if administering %}
        <a href="{{url_for('edit_cluster', project_name=project_name, name=name)}}" class="btn btn-secondary btn-sm">Edit Info</a>
        {% endif %}
        <hr/>
        <div class="row">
          <div class="col-sm-12">
            <h4>Grant Group Access to Cluster Whitelist</h4>
            <form class="form-inline" role="form" action="{{url_for('view_cluster', project_name=project_name, name=name)}}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <!-- <div class="input-group"> -->
              <label class="my-1 mr-2" for="new_group">Select Group</label>
              <select class="custom-select my-1 mr-sm-2" name="new_group" id="new_group" required>
                {% if non_access_groups %}
                <option value="*">Allow All Groups Access</option>
                  {% for group in non_access_groups %}
                <option value="{{group}}" required>{{group}}</option>
                  {% endfor %}
                {% else %}
                <option disabled selected required>Currently no groups</option>
                {% endif %}
              </select>
              {% if non_access_groups %}
              <button type="submit" class="btn btn-primary my-1">Add Group</button>
              {% else %}
              <button type="submit" class="btn btn-primary my-1" disabled>Add Group</button>
              {% endif %}
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Groups with access to cluster</th>
                  <th scope="col">Cluster Access</th>
                </tr>
              </thead>
              <tbody>
                {% for group in allowed_groups %}
                  {% if group != project_name %}
                <tr>
                  <td>
                    <a href="{{url_for('group_cluster_apps', project_name=project_name, name=name, group_name=group['metadata']['name'])}}">{{group['metadata']['name']}}</a>
                  </td>
                  <td>
                    <form role="form" action="{{url_for('remove_group_from_cluster', project_name=project_name, name=name)}}" method="POST">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                      <button type="submit" name="remove_group" value="{{group['metadata']['name']}}" class='btn btn-danger btn-sm'>Revoke</button>
                    </form>
                  </td>
                </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{%endblock%}
