{%extends "base.html"%}

{%block title%}
  Community
{%endblock%}

{%block body%}

<section id="community">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Community</h2>
        <p class="lead">
          SLATE is an open source project with an active community that
          supports its use and on-going development. We’d love for you to join
          us and get involved!
        </p>
        <p>
          There are quite a few ways to get plugged in with the SLATE community.
          See below to learn the best approach for different cases.
        </p>

        <hr/>

        <div class="row" id="bigSocial">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="https://twitter.com/slateci" target="_blank">
              <i class="fa fa-twitter fa-5x"></i>
            </a>
            <p>Message us @slateci</p>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="https://groups.google.com/forum/#!forum/slateci-discuss" target="_blank">
              <i class="fa fa-users fa-5x"></i>
            </a>
            <p>Join Slate Mailing List</p>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="https://groups.google.com/forum/#!forum/slateci-news" target="_blank">
              <i class="fa fa-newspaper fa-5x"></i>
            </a>
            <p>Sign up for news updates</p>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="https://github.com/slateci" target="_blank">
              <i class="fa fa-github-alt fa-5x"></i>
            </a>
            <p>Take a look under the hood</p>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="http://hub.docker.com/r/slateci" target="_blank">
              <i class="fab fa-docker fa-5x"></i>
            </a>
            <p>Our catalogue of applications</p>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="https://stackoverflow.com/questions/tagged/slateci" target="_blank">
              <i class="fab fa-stack-overflow fa-5x"></i>
            </a>
            <p>Stack Overflow about Slate</p>
          </div>
        </div><!-- row -->
      </div>
    </div>
  </div>
</section>
{%endblock%}
