{%extends "base.html"%}

{%block title%}Dashboard{%endblock%}

{%block body%}

<section id="dashboard" class="bg-light">
  <div class="container col-lg-11 mx-auto">

    <div class='row'>
      <div class="col-lg-12 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
        </ol>
        <h2>Dashboard</h2>
        <p id="ajax-testing"></p>
        <p class="lead">
          {% if session.get('is_authenticated') %}
          Account Summary
          {% else %}
          Public Summary
          {% endif %}
        </p>

        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="card h-100">
              {% if session.get('is_authenticated') %}
              <div class="card-header">
                My Instances <i class="fas fa-server float-right"></i>
              </div>
              <div class="card-body">
                <!-- <h5 class="card-title" style="text-align: center"><i class="fas fa-server fa-2x"></i></h5> -->
                <!-- <p class="card-text">You can view your apps here after you install them</p> -->
                <ul class="list-unstyled" id='instances-ajax'></ul>
                <a href="{{url_for('list_instances')}}" class="btn btn-sm btn-primary">View all Instances</a>
              </div>
              {% else %}
              <div class="card-header">
                Welcome to SLATE CI Portal
              </div>
              <div class="card-body">
                <h5 class="card-title" style="text-align: center"><img src="{{url_for('static', filename='img/slate-logo-150.png')}}" width="50" height="50" class="d-inline-block align-top" alt=""></h5>
                <p class="card-text">Services Layer at the Edge and the Mobility of Capability</p>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="card h-100">
              <div class="card-header">
                News <i class="far fa-newspaper float-right"></i>
              </div>
              <div class="card-body">
                <!-- <h5 class="card-title" style="text-align: center"><i class="fas fa-wrench fa-2x"></i></h5> -->
                <p class="card-text">
                  <p class=""><i class="far fa-calendar-alt"></i> No upcoming events</p>
                  <!-- <p class="text-muted" style="margin-left:10%; margin-right:10%">Planned Downtime: Maintenance of core SLATE infrastructure</p> -->
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="card h-100">
              <div class="card-header">
                Support <i class="fas fa-chalkboard-teacher float-right"></i>
              </div>
              <div class="card-body">
                <!-- <h5 class="card-title" style="text-align: center"><i class="fas fa-hands-helping fa-2x"></i></h5> -->
                <ul class="list-unstyled">
                  <li><i class="fab fa-slack"></i> Join the <a href="https://slack.slateci.io/" target="_blank">SLATE slack</a> channel</li>
                  <li><i class="far fa-newspaper"></i> Sign up to receive <a href='https://groups.google.com/forum/#!forum/slateci-news' target="_blank">slateci-news</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <br/>
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="card h-100">
              <div class="card-header">
                Applications <i class="fas fa-th float-right"></i>
              </div>
              <div class="card-body">
                <!-- <h5 class="card-title" style="text-align: center"><i class="fas fa-coins fa-2x"></i></h5> -->
                <ul class="list-unstyled" id="apps-ajax"></ul>
                <a href="{{url_for('list_applications')}}" class="btn btn-sm btn-primary">View all apps</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="card h-100">
              <div class="card-header">
                Learn <i class="fas fa-graduation-cap float-right"></i>
              </div>
              <div class="card-body">
                <!-- <h5 class="card-title" style="text-align: center"><i class="fas fa-chalkboard-teacher fa-2x"></i></h5> -->
                <ul class="list-unstyled">
                  <li><a href="https://slateci.io/docs/tools/#installing-the-slate-client" target="_blank">Install Slate Client</a></li>
                  <li><a href="https://slateci.io/docs/tools/#basic-use" target="_blank">Basic Use</a></li>
                  <li><a href="https://slateci.io/docs/tools/#creating-a-group" target="_blank">Creating a Group</a></li>
                  <li><a href="https://slateci.io/docs/tools/#registering-a-cluster" target="_blank">Registering a Cluster</a></li>
                  <li><a href="https://slateci.io/docs/tools/#deploying-an-application" target="_blank">Deploy Application</a></li>
                  <li><a href="https://sandbox.slateci.io" target="_blank">Try SLATE Sandbox</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-4">
            <div class="card h-100">
              <div class="card-header">
                Clusters <i class="fas fa-cubes float-right"></i>
              </div>
              <div class="card-body">
                <!-- <h5 class="card-title" style="text-align: center"><i class="fas fa-cubes fa-2x"></i></h5> -->
                <table class="table" id="#" data-toggle="table" data-sort-name="name" data-sort-order="desc">
                  <!-- <thead>
                    <tr>
                      <th data-field="name" data-sortable="true">Site</th>
                      <th data-field="status" data-sortable="true">Status</th>
                    </tr>
                  </thead> -->
                  <tbody data-link="row" class="rowlink" style="font-size:12px;">
                    {% for cluster in clusters %}
                    <tr>
                      <td>
                        <a href="{{url_for('view_public_cluster', name=cluster['metadata']['name'])}}">{{cluster['metadata']['name']}}</a>
                      </td>
                      <td>
                        {% if cluster_status_dict[cluster['metadata']['name']]%}
                        <i class="fas fa-check-circle" style="color: green"></i> Reachable
                        {% else %}
                        <i class="fas fa-times-circle" style="color: red"></i> Unreachable
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <!-- <p class="card-text">You can view your clusters here after you register them</p> -->
                <a href="{{url_for('list_clusters')}}" class="btn btn-sm btn-primary">View all clusters</a>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          {% if session.get('is_authenticated') %}
          <div class="col-sm-12 col-md-4">
            <div class="card h-100">
              <div class="card-header">
                Public Groups <i class="fas fa-users float-right"></i>
              </div>
              <div class="card-body">
                <!-- <h5 class="card-title" style="text-align: center"><i class="fas fa-users fa-2x"></i></h5> -->
                <ul class="list-unstyled" id="public-groups-ajax"></ul>
                <!-- <p class="card-text">You can view your clusters here after you register them</p> -->
                <a href="{{url_for('list_public_groups')}}" class="btn btn-sm btn-primary">View all groups</a>
              </div>
            </div>
          </div>
          {% endif %}
          {% if not session.get('slate_portal_user') %}
          <div class="col-sm-12 col-md-8">
            <div class="card h-100">
              <div class="card-header">
                Cluster Usage <i class="fas fa-chart-area float-right"></i>
              </div>
              <div class="card-body">
                <!-- <iframe src="https://monitoring.uchicago-prod.slateci.net/d-solo/lrCojIjiz/slate-platform-overview?orgId=1&var-datasource=Slate&var-site=All&from=1554314701589&to=1554336301589&theme=light&panelId=2" width="100%" height="210" frameborder="0"></iframe> -->
                <iframe src="https://grafana.mwt2.org/d-solo/TJJNJgCiz/k8s-monitoring-test?panelId=20&orgId=1&theme=light" width="100%" height="210" frameborder="0"></iframe>
              </div>
            </div>
          </div>
          {% endif %}
        </div>

      </div>
    </div>

  </div> <!-- container -->
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
$.noConflict();

window.onload = start();

  function get_applications(){
    $.ajax({
      url: "/applications_ajax",
      type: "get",
      dataType: 'json',
      success: function(data){
        console.log("SUCCESS");
        console.log(data);
        var applications = data;
        for (i = 0; i < applications.length; i++) {
          var app_name = String(applications[i]['metadata']['name']);
          $('#apps-ajax').append("<li><a href='/applications/"+app_name+"'>"+app_name+"</a></li>");
        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(jqXHR.status);
        console.log(textStatus);
        console.log(errorThrown);
        console.log("BIG MISTAKE");
      }
    });
  }

  function get_instances(){
    $.ajax({
      url: "/instances_ajax",
      type: "get",
      dataType: 'json',
      success: function(data){
        console.log("SUCCESS");
        console.log(data);
        var instances = data;
        for (i = 0; i < instances.length; i++) {
          var instance_id = String(instances[i]['metadata']['id']);
          var instance_name = String(instances[i]['metadata']['name']);
          $('#instances-ajax').append("<li><a href='/instances/"+instance_id+"'>"+instance_name+"</a></li>");
        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(jqXHR.status);
        console.log(textStatus);
        console.log(errorThrown);
        console.log("BIG MISTAKE");
      }
    });
  }

  function get_public_groups(){
    $.ajax({
      url: "/public_groups_ajax",
      type: "get",
      dataType: 'json',
      success: function(data){
        console.log("SUCCESS");
        console.log(data);
        var public_groups = data;
        for (i = 0; i < public_groups.length; i++) {
          var public_groups_name = String(public_groups[i]['metadata']['name']);
          $('#public-groups-ajax').append("<li><a href='/public_groups/"+public_groups_name+"'>"+public_groups_name+"</a></li>");
        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(jqXHR.status);
        console.log(textStatus);
        console.log(errorThrown);
        console.log("BIG MISTAKE");
      }
    });
  }

  function start() {
    get_applications();
    get_instances();
    get_public_groups();
  }

</script>
{%endblock%}
