<!-- Footer -->
<footer class="py-5 bg-dark" style="padding-bottom: 1rem!important; padding-top: 1rem!important;">
  <div class="container">
    <p class="m-0 text-center text-white">SLATE Version pre0.2, Copyright &copy; 2017 SLATE</p>
  </div><!-- /.container -->
</footer>

<a href="#" id="scroll" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<script>

$(document).ready(function(){
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('#scroll').fadeIn();
        } else {
            $('#scroll').fadeOut();
        }
    });
    $('#scroll').click(function(){
        $("html, body").animate({ scrollTop: 0 }, 600);
        return false;
    });
});
</script>
