{%extends "base.html"%}

{%block title%}
  Group - {{name}}
{%endblock%}

{%block body%}
<section id="cli-access" class="bg-light">
  <div class="container">
    <div class="page-header">
    </div>

    <div class="row">
      <div class="col-lg-12 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_groups')}}">Group</a></li>
          <li class="breadcrumb-item active">{{name}}</li>
        </ol>
        <h2>Group {{name}}</h2>
        <!-- <p class="lead">
          Group members and resources
        </p> -->
        <p class="lead">
          <strong>Description:</strong>
          {{group_info['metadata']['description']}}
          </p>
        <p class="lead">
          <strong>Field of Science:</strong>
          {{group_info['metadata']['scienceField']}}
        </p>
        <p class="lead">
          <strong>Contact Email:</strong>
          {{group_info['metadata']['email']}}
        </p>
        <p class="lead">
          <strong>Phone Number:</strong>
          {{group_info['metadata']['phone']}}
        </p>

        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group mr-2" role="group" aria-label="first group">
            <a href="{{url_for('edit_group', name=name)}}" class="btn btn-secondary btn-sm">Edit Info</a>
          </div>
          <div class="btn-group mr-2" role="group", aria-label="second group">
            <form role="form" action="{{url_for('delete_group', name=name)}}" method="POST" onsubmit="return confirm('Are you sure you want to delete this group?');">
              <button type="submit" name="delete_group" class="btn btn-danger btn-sm" data-submit="Deleting Group...">Delete Group</button>
            </form>
          </div>
        </div>

        <hr/>

        <ul class="nav nav-tabs">
          <li class="active"><a class="nav-item nav-link active" data-toggle="tab" href="#home">Clusters</a></li>
          <li><a class="nav-item nav-link" data-toggle="tab" href="#menu1">Members</a></li>
          <li><a class="nav-item nav-link" data-toggle="tab" href="#menu2">Secrets</a></li>
        </ul>

        <div class="tab-content">

          <div id="home" class="tab-pane fade in show active">
            <br>
            <div class="table-responsive">
              <h4>Administering Clusters</h4>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody>
                  {% for cluster in group_clusters %}
                  {% set cluster_name = cluster['metadata']['name']%}
                  <tr>
                    <td>
                      <a href="{{url_for('view_cluster', project_name=name, name=cluster_name)}}">{{cluster['metadata']['name']}}</a>
                    </td>
                    {% if admin %}
                    <td>
                      <form role="form" action="{{url_for('view_group', name=name)}}" method="POST">
                        <button type="submit" name="delete_cluster" value="{{cluster['metadata']['id']}}" class="btn btn-danger btn-xs" data-submit="Removing Cluster...">Delete Cluster</button>
                      </form>
                    </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <br>
            <div class="table-responsive">
              <h4>Accessible Clusters</h4>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody>
                  {% for cluster in group_access %}
                  <tr>
                    <td>
                      <a href="{{url_for('view_cluster', project_name=name, name=cluster['metadata']['name'])}}">{{cluster['metadata']['name']}}</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <div id="menu1" class="tab-pane fade">
            <div class="container" style="padding:10px;">
              <h4>Select New Users</h4>
              <!-- <form class="form-inline" role="form" action="" method="POST">
                  <fieldset class="form-group">
                   <select class="form-control input-group" name="newuser" tabindex="1" required>

                     <option value="" required></option>

                   </select>
                 </fieldset>
                  <button type="submit" name="btn my-1" value="adduser" class="btn btn-primary btn-xs" data-submit="...Sending">Add User</button>
              </form> -->

              <form class="form-inline" role="form" action="{{url_for('group_add_member', name=name)}}" method="POST">
                <label class="my-1 mr-2" for="newuser">Add User</label>
                <select class="custom-select my-1 mr-sm-2" name="newuser" id="newuser" required>
                  <!-- <option disabled selected>Choose User...</option> -->
                  {% for user in non_members %}
                  <option value="{{user['id']}}" required>{{user['name']}}</option>
                  {% endfor %}
                </select>

                <button type="submit" class="btn btn-primary my-1">Add User</button>
              </form>

            </div>

            <table class="table table-hover col-lg-8 mx-auto">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Remove</th>
                </tr>
              </thead>
              <tbody>
                {% for member in group_members %}
                {% set member_name = member['metadata']['name'] %}
                <tr>
                  <td>{{member_name}}</td>
                  <td>
                    <a href="mailto:{{member['metadata']['email']}}">
                      {{member['metadata']['email']}}
                    </a>
                  </td>
                  <td>
                    <form role="form" action="{{url_for('group_remove_member', name=name)}}" method="POST">
                      <button type="submit" name="remove_member" value="{{member['metadata']['id']}}" class="btn btn-danger btn-sm" data-submit="Removing User...">Remove User</button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div id="menu2" class="tab-pane fade">
            <br>
            <form role="form" action="{{url_for('create_secret', name=name)}}" method="GET">
              <button type="submit" class="btn btn-primary btn-sm">Add New Secret</button>
            </form>
            {% for secret in secrets_content %}
            <br>
            <div id="accordion">
              <div class="card" style="width: 100%;">
                <div class="card-header">
                  <a class="card-link" data-toggle="collapse" href="#{{secret['metadata']['name']}}">
                    {{secret['metadata']['name']}}
                  </a>
                </div>
                <div id="{{secret['metadata']['name']}}" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    <h5 class="card-title">Cluster: {{secret['metadata']['cluster']}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Created: {{secret['metadata']['created']}}</h6>
                    <!-- <p class="card-text">Associated secrets below</p> -->
                    <div id="pre-text">
                      <pre>{% for key, value in secret['contents'].iteritems() %}{{key}}: {{value}}{% endfor %}</pre>
                    </div>
                    <hr/>
                    <form role="form" action="{{url_for('view_group', name=name)}}" method="POST">
                      <button type="submit" name="secret_id" value="{{secret['metadata']['id']}}" class="btn btn-danger btn-sm" data-submit="Removing Secret...">Delete Secret</button>
                    </form>
                    <!-- <a href="#" class="btn btn-danger btn-sm" onclick="btnConfirm()">Delete Secret</a> -->
                    <!-- <a href="#" class="card-link btn btn-danger btn-sm">Delete Secret</a> -->
                    <!-- <a href="#" class="card-link">Another link</a> -->
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

        </div> <!-- ./tab-content -->

      </div>
    </div>
  </div>
</section>

<script>

function btnConfirm() {
    var r = confirm("Are you sure you want to delete this secret?");
    if(r == true){
      window.location.href = "{{url_for('delete_group', name=name)}}";
    } else {
      return
    }
}

</script>
{%endblock%}
