{%extends "base.html"%}

{%block title%}Groups{%endblock%}

{%block body%}

<section id="user-groups" class="bg-light">
  <div class="container col-lg-12 mx-auto">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        {%include 'messages.html' %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item active">Group</li>
        </ol>
        <div class="page-header">
          <a href="{{url_for('create_group')}}" class="btn btn-primary btn-sm btn-box-shadow">Register New Group</a>
        </div>
        <hr>
        <div class="table-responsive">
          <h4>My Groups</h4>
          <table class="table" id="groups-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
            <thead>
              <tr>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="group_id" data-sortable="true">Group ID</th>
              </tr>
            </thead>
            <tbody data-link="row" class="rowlink" style="font-size:14px;">
              <tr v-if="loading">
          			<td>Loading Data <i class="fas fa-sync fa-spin"></i></td>
          			<td><i class="fas fa-sync fa-spin"></i></td>
          		</tr>
          		<tr v-if="failed">
          			<td>Failed to load the data, please refresh the page <i class="far fa-times-circle"></i></td>
          			<td><i class="far fa-times-circle"></i></td>
          		</tr>

          		<tr v-for="group in user_groups" v-cloak >
                <td><a :href="'/groups/' + group.metadata.name">{[{group.metadata.name}]}</a></td>
                <td>{[{group.metadata.id}]}</td>
          		</tr>

            </tbody>

          </table>
        </div>

      </div>

    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
      new Vue({
        el: '#groups-table',
        data () {
          return {
            user_groups: {},
            loading: true,
            failed: false
            }
          },
        updated: function() {
          //call DataTable after view is updated
          $('#groups-table').DataTable();
          },
        mounted() {
          axios.get('/groups-xhr')
          .then(function (response) {
            this.user_groups = response.data;
            this.loading = false;
            }.bind(this)) //must use bind(this) unless using arrow function
            .catch(error => { this.failed = true; this.loading = false; })
            }
          });
        });
</script>
{%endblock%}
