{%extends "base.html"%}

{%block title%}
  Group - {{name}}
{%endblock%}

{%block body%}
<section id="cli-access" class="bg-light">
  <div class="container">
    <div class="page-header">
    </div>

    <div class="row">
      <div class="col-lg-12 mx-auto">
        {%include 'messages.html' %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_groups')}}">Group</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('view_group', name=name)}}">{{name}}</a></li>
          <li class="breadcrumb-item active">Secrets</li>
        </ol>
        <h2>Group {{name}}</h2>
        <!-- <p class="lead">
          Group members and resources
        </p> -->
        <p class="lead">
          <strong>Description:</strong>
          {{group_info['metadata']['description']}}
          </p>
        <p class="lead">
          <strong>Field of Science:</strong>
          {{group_info['metadata']['scienceField']}}
        </p>
        <p class="lead">
          <strong>Contact Email:</strong>
          {{group_info['metadata']['email']}}
        </p>
        <p class="lead">
          <strong>Phone Number:</strong>
          {{group_info['metadata']['phone']}}
        </p>

        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group mr-2" role="group" aria-label="first group">
            <a href="{{url_for('edit_group', name=name)}}" class="btn btn-secondary btn-sm">Edit Info</a>
          </div>
          <div class="btn-group mr-2" role="group", aria-label="second group">
            <form role="form" action="{{url_for('delete_group', name=name)}}" method="POST" onsubmit="return confirm('Are you sure you want to delete this group?');">
              <button type="submit" name="delete_group" class="btn btn-danger btn-sm" data-submit="Deleting Group...">Delete Group</button>
            </form>
          </div>
        </div>
        <hr/>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('view_group', name=name)}}"><i class="fas fa-cubes"></i> Clusters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('view_group_members', name=name)}}"><i class="fas fa-user-friends"></i> Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('view_group_secrets', name=name)}}"><i class="fas fa-key"></i> Secrets</a>
          </li>
        </ul>
        <br>
        <form role="form" action="{{url_for('create_secret', name=name)}}" method="GET">
          <button type="submit" class="btn btn-primary btn-sm">Add New Secret</button>
        </form>
        {% for secret in secrets_content %}
        <br>
        <div id="accordion">
          <div class="card" style="width: 100%;">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#{{secret['metadata']['name']}}">
                {{secret['metadata']['name']}}
              </a>
            </div>
            <div id="{{secret['metadata']['name']}}" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Cluster: {{secret['metadata']['cluster']}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Created: {{secret['metadata']['created']}}</h6>
                <!-- <p class="card-text">Associated secrets below</p> -->
                <div id="pre-text">
                  <pre>{% for key, value in secret['contents'].iteritems() %}{{key}}: {% if value is defined and value|length %}{{value}}{%else%}{% endif %}{% endfor %}</pre>
                </div>
                <hr/>
                <form role="form" action="{{url_for('view_group_secrets', name=name)}}" method="POST" onsubmit="return confirm('Are you sure you want to delete this secret?');">
                  <button type="submit" name="secret_id" value="{{secret['metadata']['id']}}" class="btn btn-danger btn-sm" data-submit="Removing Secret...">Delete Secret</button>
                </form>
                <!-- <a href="#" class="btn btn-danger btn-sm" onclick="btnConfirm()">Delete Secret</a> -->
                <!-- <a href="#" class="card-link btn btn-danger btn-sm">Delete Secret</a> -->
                <!-- <a href="#" class="card-link">Another link</a> -->
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>

<script>

function btnConfirm() {
    var r = confirm("Are you sure you want to delete this secret?");
    if(r == true){
      window.location.href = "{{url_for('delete_group', name=name)}}";
    } else {
      return
    }
}

</script>
{%endblock%}
