{%extends "base.html"%}

{%block title%}Groups{%endblock%}

{%block body%}

<section id="cli-access" class="bg-light">
  <div class="container col-lg-12 mx-auto">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        {%include 'messages.html' %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item active">Group</li>
        </ol>
        <div class="page-header">
          <a href="{{url_for('create_group')}}" class="btn btn-primary btn-sm btn-box-shadow">Register New Group</a>
        </div>
        <hr>
        <div class="table-responsive">
          <h4>My Groups</h4>
          <table class="table" id="groups-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
            <thead>
              <tr>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="group_id" data-sortable="true">Group ID</th>
              </tr>
            </thead>
            <tbody data-link="row" class="rowlink" style="font-size:14px;">
              {% for group in group_list %}
              <tr>
                <td><a href="{{url_for('view_group', name=group['metadata']['name'])}}" title="View Group Profile" style="font-weight:bold">{{ group['metadata']['name'] }}</a></td>
                <td>{{ group['metadata']['id'] }}</td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>

      </div>

    </div>
  </div>
</section>

<script>
$('#groups-table').DataTable();
</script>
{%endblock%}
