{%extends "base.html"%}

{%block title%}
  Create New Group
{%endblock%}

{%block body%}
<section id="cli-access" class="bg-light">
  <div class="container">
    <div class="page-header">
    </div>

    <div class="row">
      <div class="col-lg-12 mx-auto">
        {%include 'messages.html' %}
        <h2>Create New Group</h2>
        <p class="lead">
          Enter Group information below
        </p>

        <hr/>

            <form role="form" action="{{url_for('create_group')}}" method="POST">
              <div class="form-group">
                <label for="name">Group Name * (lowercase, alpha-numeric and -)</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="Group name"
                  pattern="[a-zA-Z0-9-]+"
                  required="required"
                  tabindex="1"
                  style="text-transform:lowercase"
                >
              </div>

              <!-- <div class="form-group">
                <label for="phone-number">Phone Number *</label>
                <p class="muted">(10 digit phone number)</p>
                <input
                  type="tel"
                  class="form-control"
                  id="phone-number"
                  name="phone-number"
                  placeholder="888 888 8888"
                  maxlength="12"
                  title="Phone number"
                  required="required"
                  tabindex="2"
                >
              </div> -->

              <div class="form-group">
                <label for="phone-number">Phone Number *</label>
                <input type="tel" class="form-control" id="phone-number" name="phone-number" required>
              </div>

              <div class="form-group">
                <label for="email">Email *</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="email@domain.com"
                  required="required"
                  tabindex="3"
                >
              </div>

              <div class="form-group">
                <label for="field-of-science">Field of Science *</label>
                <select class="form-control" id="field-of-science" name="field-of-science" required="required" tabindex="4">
                  <option value="" selected disabled>Select Field of Science</option>
                  {% for science in sciences %}
                  <option value="{{science}}">{{science}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group">
                <label for="name">Description</label>
                <textarea name="description" rows="8" cols="80" class="form-control" id="description" placeholder="Brief Description" tabindex="5"></textarea>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
              </div>
            </form>

      </div>

    </div>
  </div>
</section>

<script>

$("#phone-number").intlTelInput();

var email = {{user['metadata']['email']|tojson}} || None;
var phone = {{user['metadata']['phone']|tojson}} || None;

window.onload = setGroupFields(email, phone);

function setGroupFields(email, phone){
  document.getElementById('email').value = email;
  document.getElementById('phone-number').value = phone;
}

</script>
{%endblock%}
