{%extends "base.html"%}

{%block title%}
  Group Profile Details
{%endblock%}

{%block body%}
<section id="public-group-profile" class="bg-light">
  <div class="container col-lg-12 mx-auto">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        {%include 'messages.html' %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_public_groups')}}">Public Groups</a></li>
          <li class="breadcrumb-item active">{{name}}</li>
        </ol>
        <h1>Group: {{name}}</h1>
        <hr/>
        <div class="row" id="public-group-row">
          <div class="col-sm-6">
            <div class="card h-100" id="group-info-card">
              <div class="card-header">
                Group Information:
              </div>
              <div class="card-body">
                <p class="lead">
                  <strong>Contact Email:</strong> <a :href="'mailto: + group_info.metadata.email'">{[{group_info.metadata.email}]}</a>
                </p>
                <p class="lead">
                  <strong>Phone Number:</strong> {[{group_info.metadata.phone}]}
                </p>
                <p class="lead">
                  <strong>Field of Science:</strong> {[{group_info.metadata.scienceField}]}
                </p>
                <p class="lead">
                  <strong>Description:</strong> {[{group_info.metadata.description}]}
                </p>
                {% if not session.get('slate_portal_user') %}
                  {% if session.get('is_authenticated') %}
                <form role="form" action="{{url_for('mailgun', group_name=name, user_name=session['name'], user_email=session['email'])}}" method="POST">
                  <div class="form-group">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  </div>
                  <div class="form-group">
                    <button type="submit" name="admin_email" class="btn btn-sm btn-primary btn-box-shadow" :value="group_info.metadata.email">Request to Join <i class="fas fa-envelope"></i></button>
                  </div>
                </form>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card h-100" id='group-clusters-card'>
              <div class="card-header">
                Administering Clusters
              </div>
              <div class="card-body">
                <ul v-if="group_clusters.length !== 0" class="list-unstyled">
                  <span v-for="cluster in group_clusters">
                    <li><a :href="'/clusters/' + cluster.metadata.name">{[{cluster.metadata.name}]}</a></li>
                  </span>
                </ul>
                <ul v-else class="list-unstyled">
                  <li>Currently not administering any clusters</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<meta id="group-data" data-name="{{name}}">
<script>
var group = $('#group-data').data();
var name = group.name;

$(document).ready(function() {
  new Vue({
    el: '#public-group-row',
    data () {
      return {
        group_info: {},
        group_clusters: {},
        loading: true,
        failed: false
        }
      },
    mounted() {
      axios.get('/public-groups-xhr/' + name)
      .then(function (response) {
        this.group_info = response.data[0];
        this.group_clusters = response.data[1];
        this.loading = false;
        }.bind(this)) //must use bind(this) unless using arrow function
        .catch(error => { this.failed = true; this.loading = false; })
      }
    });
  });
</script>
{%endblock%}
