{%extends "base.html"%}

{%block title%}
  Group Profile Details
{%endblock%}

{%block body%}
<section id="cluster-profile" class="bg-light">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_public_groups')}}">Public Groups</a></li>
          <li class="breadcrumb-item active">{{name}}</li>
        </ol>
        <h1>Group: {{name}}</h1>
        <hr/>
        <div class="row">
          <div class="col-sm-6">
            <div class="card h-100">
              <div class="card-header">
                Group Information:
              </div>
              <div class="card-body">
                <p class="lead">
                  <strong>Contact Email:</strong> <a href="mailto:{{group_info['metadata']['email']}}">{{group_info['metadata']['email']}}</a>
                </p>
                <p class="lead">
                  <strong>Phone Number:</strong> {{group_info['metadata']['phone']}}
                </p>
                <p class="lead">
                  <strong>Field of Science:</strong> {{group_info['metadata']['scienceField']}}
                </p>
                <p class="lead">
                  <strong>Description:</strong> {{group_info['metadata']['description']}}
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card h-100">
              <div class="card-header">
                Administering Clusters
              </div>
              <div class="card-body">
                <ul class="list-unstyled">
                  {% if group_clusters %}
                  {% for cluster in group_clusters %}
                  <li><a href="{{url_for('view_public_cluster', name=cluster['metadata']['name'])}}">{{cluster['metadata']['name']}}</a></li>
                  {% endfor %}
                  {% else %}
                  <li>Currently not administering any clusters</li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
{%endblock%}
