{%extends "groups_profile_template.html"%}

{%block content%}

<div class="table-responsive">
  <table class="table" id="members-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
    <thead>
      <tr>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="email" data-sortable="true">Email</th>
        <th data-field="institution" data-sortable="true">Institution</th>
        <th data-field="remove" data-sortable="true">Add Member</th>
      </tr>
    </thead>
    <tbody data-link="row" class="rowlink" style="font-size:14px;">
      {% for member in non_members %}
      <tr>
        <td>{{member['name']}}</td>
        <td>{{member['email']}}</td>
        <td>{{member['institution']}}</td>
        <td>
          <form role="form" action="{{url_for('group_add_member', name=name)}}" method="POST" onsubmit="return confirm('Are you sure you add {{member_name}} from group?');">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit" name="add_member" value="{{member['id']}}" class="btn btn-primary btn-sm btn-box-shadow" data-submit="Adding User...">Add User</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

<script>

function btnConfirm() {
    var r = confirm("Are you sure you want to delete this secret?");
    if(r == true){
      window.location.href = "{{url_for('delete_group', name=name)}}";
    } else {
      return
    }
}

$('#members-table').DataTable({
  order: [[0, 'asc']],
});
</script>
{%endblock%}
