{%extends "base.html"%}

{%block title%}
  Public Groups
{%endblock%}

{%block body%}
<section id="cli-access" class="bg-light">
  <div class="container col-lg-11 mx-auto">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item active">Public Groups</li>
        </ol>
        <h2>All Public Groups</h2>
        <!-- <p class="lead">
          A list of public groups on SLATE
        </p> -->
        <!-- <a href="{{url_for('create_group')}}" class="btn btn-primary btn-sm">Register New Group</a> -->
        <!-- <hr/> -->
        <div class="table-responsive">
          <table class="table" id="groups-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
            <thead>
              <tr>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="scienceField" data-sortable="true">Field of Science</th>
                <th data-field="group_id" data-sortable="true">Group ID</th>
              </tr>
            </thead>
            <tbody data-link="row" class="rowlink" style="font-size:14px;">
              {% for group in group_list %}
              <tr>
                <td><a href="{{url_for('view_public_group', name=group['metadata']['name'])}}" title="View Group Profile">{{ group['metadata']['name'] }}</a></td>
                <td>{{ group['metadata']['scienceField']}}</td>
                <td>{{ group['metadata']['id'] }}</td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
      </div>

    </div>
  </div>
</section>

<script>
$(document).ready(function() {
    $('#groups-table').DataTable();
});
</script>
{%endblock%}
