{%extends "base.html"%}

{%block title%}
  Public Groups
{%endblock%}

{%block body%}
<section id="public-groups" class="bg-light">
  <div class="container col-lg-12 mx-auto">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item active">Public Groups</li>
        </ol>
        <h2>All Public Groups</h2>
        <div class="table-responsive">
          <table class="table" id="groups-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
            <thead>
              <tr>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="scienceField" data-sortable="true">Field of Science</th>
                <th data-field="group_id" data-sortable="true">Group ID</th>
              </tr>
            </thead>
            <tbody data-link="row" class="rowlink" style="font-size:14px;">
              <tr v-if="loading">
          			<td>Loading Data <i class="fas fa-sync fa-spin"></i></td>
                <td><i class="fas fa-sync fa-spin"></i></td>
                <td><i class="fas fa-sync fa-spin"></i></td>
          		</tr>
          		<tr v-if="failed">
          			<td>Failed to load the data, please refresh the page <i class="far fa-times-circle"></i></td>
                <td><i class="far fa-times-circle"></i></td>
                <td><i class="far fa-times-circle"></i></td>
              </tr>
              <tr v-for="group in public_groups" v-cloak >
                <td><a :href="'/public-groups/' + group.metadata.name" title="View Group Profile">{[{group.metadata.name}]}</a></td>
                <td>{[{group.metadata.scienceField}]}</td>
                <td>{[{group.metadata.id}]}</td>
          		</tr>
            </tbody>

          </table>
        </div>
      </div>

    </div>
  </div>
</section>

<script>
$(document).ready(function() {
      new Vue({
        el: '#groups-table',
        data () {
          return {
            public_groups: {},
            loading: true,
            failed: false
            }
          },
        updated: function() {
          //call DataTable after view is updated
          $('#groups-table').DataTable();
          },
        mounted() {
          axios.get('/public-groups-xhr')
          .then(function (response) {
            this.public_groups = response.data;
            this.loading = false;
            }.bind(this)) //must use bind(this) unless using arrow function
            .catch(error => { this.failed = true; this.loading = false; })
            }
          });
        });
</script>
{%endblock%}
