{%extends "base.html"%}

{%block title%}
  Group - {{name}}
{%endblock%}

{%block body%}
<section id="cli-access" class="bg-light">
  <div class="container">
    <div class="page-header">
    </div>

    <div class="row">
      <div class="col-lg-12 mx-auto">
        {%include 'messages.html' %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_groups')}}">Group</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('view_group', name=name)}}">{{name}}</a></li>
          <li class="breadcrumb-item active">Members</li>
        </ol>
        <h2>Group {{name}}</h2>
        <!-- <p class="lead">
          Group members and resources
        </p> -->
        <p class="lead">
          <strong>Description:</strong>
          {{group_info['metadata']['description']}}
          </p>
        <p class="lead">
          <strong>Field of Science:</strong>
          {{group_info['metadata']['scienceField']}}
        </p>
        <p class="lead">
          <strong>Contact Email:</strong>
          {{group_info['metadata']['email']}}
        </p>
        <p class="lead">
          <strong>Phone Number:</strong>
          {{group_info['metadata']['phone']}}
        </p>

        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group mr-2" role="group" aria-label="first group">
            <a href="{{url_for('edit_group', name=name)}}" class="btn btn-secondary btn-sm">Edit Info</a>
          </div>
          <div class="btn-group mr-2" role="group", aria-label="second group">
            <form role="form" action="{{url_for('delete_group', name=name)}}" method="POST" onsubmit="return confirm('Are you sure you want to delete this group?');">
              <button type="submit" name="delete_group" class="btn btn-danger btn-sm" data-submit="Deleting Group...">Delete Group</button>
            </form>
          </div>
        </div>

        <hr/>

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('view_group', name=name)}}"><i class="fas fa-cubes"></i> Clusters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('view_group_members', name=name)}}"><i class="fas fa-user-friends"></i> Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('view_group_secrets', name=name)}}"><i class="fas fa-key"></i> Secrets</a>
          </li>
        </ul>
        <br>
        <div class="container" style="padding:10px;">
          <h4>Select New Users</h4>
          <form class="form-inline" role="form" action="{{url_for('group_add_member', name=name)}}" method="POST">
            <label class="my-1 mr-2" for="newuser">Add User</label>
            <select class="custom-select my-1 mr-sm-2" name="newuser" id="newuser" required>
              <!-- <option disabled selected>Choose User...</option> -->
              {% for user in non_members %}
              <option value="{{user['id']}}" required>{{user['name']}}</option>
              {% endfor %}
            </select>

            <button type="submit" class="btn btn-primary my-1">Add User</button>
          </form>
        </div>

        <table class="table table-hover col-lg-8 mx-auto">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            {% for member in group_members %}
            {% set member_name = member['metadata']['name'] %}
            <tr>
              <td>{{member_name}}</td>
              <td>
                <a href="mailto:{{member['metadata']['email']}}">
                  {{member['metadata']['email']}}
                </a>
              </td>
              <td>
                <form role="form" action="{{url_for('group_remove_member', name=name)}}" method="POST" onsubmit="return confirm('Are you sure you remove {{member_name}} from group?');">
                  <button type="submit" name="remove_member" value="{{member['metadata']['id']}}" class="btn btn-danger btn-sm" data-submit="Removing User...">Remove User</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</section>

<script>

function btnConfirm() {
    var r = confirm("Are you sure you want to delete this secret?");
    if(r == true){
      window.location.href = "{{url_for('delete_group', name=name)}}";
    } else {
      return
    }
}

</script>
{%endblock%}
