{%extends "base.html"%}

{%block title%}Home{%endblock%}

{%block body%}
<!-- Page Header -->
<header class="bg-primary text-white">
  <div class="container text-center">
    <img src="{{url_for('static', filename='img/slate-logo-large.png')}}" style="width:60%;">
    <h1>Welcome to SLATE CI</h1>
    <p class="lead">Services Layer at the Edge and the Mobility of Capability</p>
  </div>
</header>

<!-- <section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About this page</h2>
        <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
        <ul>
          <li>Clickable nav links that smooth scroll to page sections</li>
          <li>Responsive behavior when clicking nav links perfect for a one page website</li>
          <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
          <li>Minimal custom CSS so you are free to explore your own unique design options</li>
        </ul>
      </div>
    </div>
  </div>
</section> -->

<section id="platform-elements" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mx-auto">
        <h2>Platform Elements</h2>
        <p class="lead">
          A SLATE edge platform within a campus Science DMZ hosts trusted
          services operated by a central team which might be operating a
          network of such services across several campuses. Science “app”
          developers interact with the SLATE platform service factory to define
          and launch elements of a science gateway, data cache, or local
          workflow service.
        </p>
        <button type="button" class="btn btn-primary">Read More</button>
      </div>
      <div class="col-lg-7 mx-auto">
        <img src="{{url_for('static', filename='img/slate-diagram-trans.png')}}" style="width:100%;">
      </div>
    </div>
  </div>
</section>

<section id="software-networks">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <img src="{{url_for('static', filename='img/slate-connectivity.png')}}" style="width:100%;">
      </div>
      <div class="col-lg-6 mx-auto">
        <h2>Software Defined Networks</h2>
        <p class="lead">
          The SLATE platform will utilize SDNs where edge networks support it.
          Meshes between campuses could use static and SDN layer-2 and layer-3
          paths to connect resource provider sites according to data workflow
          requirements.
        </p>
        <button type="button" class="btn btn-primary">Read More</button>
      </div>
    </div>
  </div>
</section>

<section id="community" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Community</h2>
        <p class="lead">
          SLATE is an open source project with an active community that
          supports its use and on-going development. We’d love for you to join
          us and get involved!
        </p>
        <p>
          There are quite a few ways to get plugged in with the SLATE community.
          See below to learn the best approach for different cases.
        </p>

        <hr/>

        <div class="row" id="bigSocial">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="https://twitter.com/slateci" target="_blank">
              <i class="fa fa-twitter fa-5x"></i>
            </a>
            <p>Message us @slateci</p>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="https://groups.google.com/forum/#!forum/slateci-discuss" target="_blank">
              <i class="fa fa-users fa-5x"></i>
            </a>
            <p>Join Slate Mailing List</p>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="https://groups.google.com/forum/#!forum/slateci-news" target="_blank">
              <i class="fa fa-newspaper fa-5x"></i>
            </a>
            <p>Sign up for news updates</p>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="https://github.com/slateci" target="_blank">
              <i class="fa fa-github-alt fa-5x"></i>
            </a>
            <p>Take a look under the hood</p>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="http://hub.docker.com/r/slateci" target="_blank">
              <i class="fab fa-docker fa-5x"></i>
            </a>
            <p>Our catalogue of applications</p>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="https://stackoverflow.com/questions/tagged/slateci" target="_blank">
              <i class="fab fa-stack-overflow fa-5x"></i>
            </a>
            <p>Stack Overflow about Slate</p>
          </div>
        </div><!-- row -->
      </div>
    </div>
  </div>
</section>

<section id="faq">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Frequently Asked Questions</h2>
        <p class="lead">
          Here are some frequently asked questions about SLATE. If you don’t
          find your questions answered here, be sure to check
          <a href="https://stackoverflow.com/questions/tagged/slateci" target="_blank">
            Stack Overflow
          </a>
          for more Q&A.
        </p>

        <hr/>

        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  I am an HPC systems administrator. Why should I be interested in SLATE?
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                When fully developed, SLATE will simplify the deployment and
                operation of services necessary for your research community.
                For example, if you have research groups on campus requiring a
                domain specific task scheduler or science gateway, SLATE will
                provide the framework to pull containerized service images from
                trusted repositories and operate them with minimal effort or
                specific expertise.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  I am a Science Gateway developer. How can SLATE help me integrate more resources?
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                SLATE will provide the a “substrate” to host your backend
                services connecting web portal frameworks to HPC and storage
                resources. For example, if your gateway requires a Globus
                endpoint or Open Science Grid “compute element” where there is
                none, SLATE can be use to quickly deploy the needed service.
                The benefits of SLATE for developers of distributed systems
                have more tools available to practice a DevOps programming
                model over wide area resources.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  What provisions have been made for cybersecurity?
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                The SLATE team is actively working with the cybersecurity
                officers of our participating institutions to ensure best
                practices in systems management. We are will also be working
                with the
                <a href="https://trustedci.org/" target="_blank">
                  Center for Trustworthy Scientific Cyberinfrastructure
                </a>
                to periodically assess and review the trust model and
                underlying assumptions on balancing risk and science benefit.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contact us</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
      </div>
    </div>
  </div>
</section> -->
{%endblock%}
