{%extends "base.html"%}

{%block title%}
  Instance Profile
{%endblock%}

{%block body%}
<section id="app-profile" class="bg-light">
  <div class="container col-lg-11 mx-auto">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_instances')}}">Instances</a></li>
          <li class="breadcrumb-item active">{{instance['metadata']['name']}}</li>
        </ol>

        <h1>Instance: {{instance['metadata']['name']}}</h1>
        <h4>Cluster: <span class='text-muted'>{{instance['metadata']['cluster']}}</span></h4>
        <a href="#" class="btn btn-danger btn-sm" onclick="btnConfirm()">Delete Instance</a>
        <hr/>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#details" role="tab" data-toggle="tab">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#configuration" role="tab" data-toggle="tab">Configuration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#logs" role="tab" data-toggle="tab">Logs</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="details">
            {% if instance_status == 'Not Error' %}
              {% if instance_detail['services'] %}
            <div class="table-responsive">
              <br>
              <h4>Detailed Services</h4>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">External IP</th>
                    <th scope="col">Cluster IP</th>
                    <th scope="col">Ports</th>
                  </tr>
                </thead>
                <tbody>
                  {% for service in instance_detail['services'] %}
                  <tr>
                    {% set addr = 'http://' +service['externalIP'] + ':' + service['ports'].split(':')[1].split('/')[0] %}
                    <td>{{service['name']}}</td>
                    <td><a href="{{addr}}" target="_blank">{{service['externalIP']}}</a></td>
                    <td>{{service['clusterIP']}}</td>
                    <td>{{service['ports']}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
              {% endif %}
            <br>
            <h4>Pods</h4>
            <hr/>
            {% if instance_detail['details']['pods']%}
              {% for pod in instance_detail['details']['pods'] %}
            <div id="accordion">
              <div class="card" style="width: 100%;">
                <div class="card-header">
                  <a class="card-link" data-toggle="collapse" href="#{{pod['hostName']|podnameformat}}">
                    {{pod['hostName']}}
                  </a>
                  <span class='pull-right'>Status: {{pod['status']}}</span>
                </div>
                <div id="{{pod['hostName']|podnameformat}}" class="collapse" data-parent="#accordion">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="card-body">
                          <h5 class="card-title">Host IP: {{pod['hostIP']}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Created: {{pod['created']}}</h6>
                          <div>
                            <h6 class="card-subtitle mb-2 text-muted">Conditions</h6>
                      {% for condition in pod['conditions']%}
                              <p class="card-text">{{condition['lastTransitionTime']}} - {{condition['type']}}</p>
                      {% endfor %}
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card-body">
                          <h5 class="card-title">Events</h5>
                          <p class="card-text">
                            {% for event in instance_detail['details']['pods'][0]['events']%}
                                <li style="list-style: none"><strong>Count:</strong> {{event['count']}}</li>
                                <li style="list-style: none"><strong>Reason:</strong> {{event['reason']}}</li>
                                <li style="list-style: none"><strong>Message:</strong> {{event['message']}}</li>
                            {% endfor %}
                          </p>
                      </div>
                    </div>
                  </div>

                  <div class="card-body">
                    <div>
                      Containers
                {% for container in pod['containers'] %}
                          <li style="list-style: none"><strong>Name:</strong> {{container['name']}}</li>
                          <li style="list-style: none"><strong>Restarts:</strong> {{container['restartCount']}}</li>
                          <li style="list-style: none"><strong>State:</strong> {% for key, value in container['state'].items() %} {{key}} - {% for k, v in value.items() %} {{k}}: {{v}} {% endfor %} {% endfor %}</li>
                          <li style="list-style: none"><strong>Image:</strong> {{container['image']}}</li>
                          <hr/>
                {% endfor %}
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <br>
              {% endfor %}
            {% endif %}

            {% else %}
            <h1>Detailed services information currently not available</h1>
            {% endif %}
          </div>

          <!-- CONFIGURATION TAB PANEL -->
          <div role="tabpanel" class="tab-pane fade" id="configuration">
            <br>
            <!-- <h3>Configuration</h3> -->
            <pre>{% if instance_detail['metadata']['configuration'] %}{{instance_detail['metadata']['configuration']}}{% else %}Configuration currently unavailable{% endif %}</pre>
          </div>
          <!-- INSTANE LOG TAB PANEL -->
          <div role="tabpanel" class="tab-pane fade" id="logs">
            <br>
            <!-- <h3>Logs</h3> -->
            <pre class="app-logs">{% if instance_log['logs'] %}{{instance_log['logs']}}{% else %}Logs currently unavailable{% endif %}</pre>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<script>

function btnConfirm() {
    var r = confirm("Are you sure you want to delete this instance?");
    if(r == true){
      window.location.href = "{{url_for('delete_instance', name=name)}}";
    }
}

</script>
{%endblock%}
