{%extends "base.html"%}

{%block title%}
  Instance Profile
{%endblock%}

{%block body%}
<section id="app-profile" class="bg-light">
  <div class="container col-lg-12 mx-auto">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        {%include 'messages.html' %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_instances')}}">Instances</a></li>
          <li class="breadcrumb-item active">{{instance_details['metadata']['name']}}</li>
        </ol>

        <h2>Instance: {{instance_details['metadata']['name']}}</h2>
        <h6><strong>Instance ID:</strong> {{instance_details['metadata']['id']}}</h6>
        <h6><strong>Application:</strong> {{instance_details['metadata']['application']}}</h6>
        <h6><strong>Version:</strong> {{instance_details['metadata']['appVersion']}}</h6>
        <h6><strong>Cluster:</strong> {{instance_details['metadata']['cluster']}}</h6>
        <h6><strong>Group:</strong> {{instance_details['metadata']['group']}}</h6>
        <h6><strong>Created:</strong> {{instance_details['metadata']['created']}}</h6>
        <a href="#" class="btn btn-danger btn-sm btn-box-shadow" onclick="btnConfirm()">Delete Instance</a>
        <hr/>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#details" role="tab" data-toggle="tab">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#configuration" role="tab" data-toggle="tab">Configuration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#logs" role="tab" data-toggle="tab">Logs</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="details">
            {% if instance_status %}
              {% if instance_details['services'] %}
            <div class="table-responsive">
              <br>
              <h4>Detailed Services</h4>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">External IP</th>
                    <th scope="col">Cluster IP</th>
                    <th scope="col">Ports</th>
                    <th scope="col">URL</th>
                  </tr>
                </thead>
                <tbody>
                  {% for service in instance_details['services'] %}
                  <tr>
                    {% set addr = 'http://' +service['externalIP'] + ':' + service['ports'].split(':')[1].split('/')[0] %}
                    <td>{{service['name']}}</td>
                    <td><a href="{{addr}}" target="_blank">{{service['externalIP']}}</a></td>
                    <td>{{service['clusterIP']}}</td>
                    <td>{{service['ports']}}</td>
                    <td><a href="{{service['url']}}" target="_blank">{{service['url']}}</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
              {% endif %}
            <br>

            {%include 'instance_profile_pod_details.html'%}

            <br>

            {%include 'instance_profile_monitoring.html'%}

            <br>
            {% else %}
            <h1>Detailed services information currently not available</h1>
            {% endif %}
          </div>

          <!-- CONFIGURATION TAB PANEL -->
          <div role="tabpanel" class="tab-pane fade" id="configuration">
            <br>
            <!-- <h3>Configuration</h3> -->
            <pre>{% if instance_details['metadata']['configuration'] %}{{instance_details['metadata']['configuration']}}{% else %}Configuration currently unavailable{% endif %}</pre>
          </div>
          <!-- INSTANE LOG TAB PANEL -->
          <div role="tabpanel" class="tab-pane fade" id="logs">
            <br>
            <!-- <h3>Logs</h3> -->
            <div id="logs-display">
              <label for="container-list"> Select container: </label>
              <select id="container-list" name="container-list">
                {% for container in instance_details['details']['pods'][0]['containers'] %}
                <option value="{{container['name']}}">
                  {{container['name']}}
                </option>
                {% endfor %}
              </select>
              <br>
              <label for="nlines"> Enter lines of most recent logs to show (0 for the full log): </label>
              <input type="number" id="nlines" name="nlines" value="20">
              <button class="btn btn-primary btn-sm btn-box-shadow" v-on:click="getLogs">Submit</button>
              <br>
              <button class="btn btn-primary btn-sm btn-box-shadow" onclick="wrapLogs()">Wrap/Unwrap Logs</button>
              <pre id="logs-box" class="app-logs">{[{logs}]}</pre>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<meta id="instance-data" data-name="{{name}}">
<script>
$(document).ready(function() {
    $('#pods-table').DataTable();
});

function btnConfirm() {
    var r = confirm("Are you sure you want to delete this instance?");
    if(r == true){
      window.location.href = "{{url_for('delete_instance', name=name)}}";
      loader();
    }
}

var isWrapped = false
function wrapLogs() {
  if(!isWrapped){
    document.getElementById("logs-box").style.whiteSpace = "pre-wrap";
    document.getElementById("logs-box").style.wordBreak = "break-word";
    isWrapped = true
  } else {
    document.getElementById("logs-box").style.whiteSpace = "pre";
    document.getElementById("logs-box").style.wordBreak = "normal";
    isWrapped = false
  }
}

var instance = $('#instance-data').data();
var instance_id = instance.name;
var request_logs = new Vue({
  el: '#logs-display',
  data: {
    logs: null
  },
  methods: {
    getLogs: function () {
      var lines = document.getElementById('nlines').value
      var container = document.getElementById('container-list').value
      axios.get('/instances-log-xhr/' + instance_id + '/' + container + '/' + lines)
      .then(response => this.logs = response.data)
      .catch(error => this.logs = "Logs currently unavailable")
    }
  },
  mounted: function(){
    this.getLogs()
  }
})

</script>
{%endblock%}
