{%extends "base.html"%}

{%block title%}
  Profile
{%endblock%}

{%block body%}
{%include 'messages.html'%}
<section id="profile" class="bg-light">
  <div class="container">
    <div class="page-header">
      <h1>Profile</h1>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form role="form" action="{{url_for('profile')}}" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="full name"
              required="required"
              tabindex="1"
              value="{{session['name']}}"
            >
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="me@example.com"
              required="required"
              tabindex="2"
              value="{{session['email']}}"
            >
          </div>

          <!-- <div class="form-group">
            <label for="institution">Institution/Department</label>
            <input
              type="text"
              id="institution"
              name="institution"
              class="form-control"
              required="required"
              tabindex="3"
              value="{{session['institution']}}"
            >
          </div> -->

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>

<script>

window.onload = get_states();

function get_states(){
  $.ajax({
    url: "http://128.135.158.222:18080/v1alpha1/users?token=3acc9bdc-1243-40ea-96df-373c8a616a16",
    type: "get",
    dataType: 'json',
    success: function(data){
      if(data.items){
         $('#test').html(data.items);
      }

    },
    error: function(xhr){
      //Do Something to handle error
    }
  });
}

// $(document).ajaxComplete(function(){
//   if($('#test').length != 0){
//     $('#test').css('color', 'red');
//   }
// });

</script>
{%endblock%}
