{%extends "base.html"%}

{%block title%}
  Create Profile
{%endblock%}

{%block body%}
<section id="profile" class="bg-light">
  <div class="container">

    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1>Create Profile</h1>
        <hr/>
        <form role="form" action="{{url_for('create_profile')}}" method="POST">
          <div class="form-group">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          </div>
          <div class="form-group">
            <label for="name">Name *</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="{{session['name']}}"
              required="required"
              tabindex="1"
              maxlength="64"
            >
          </div>

          <div class="form-group">
            <label for="email">Email *</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="{{session['email']}}"
              required="required"
              tabindex="2"
            >
          </div>

          <div class="form-group">
            <label for="institution">Institution *</label>
            <input
              type="text"
              id="institution"
              name="institution"
              class="form-control"
              placeholder="Institution Name"
              required="required"
              tabindex="3"
              maxlength="64"
            >
          </div>

          <div class="form-group">
            <label for="phone-number">Phone Number *</label>
            <p class="text-muted">(10 digit phone number)</p>
            <input
              type="tel"
              class="form-control"
              id="phone-number"
              name="phone-number"
              placeholder="888 888 8888"
              maxlength="12"
              title="Phone number"
              required="required"
              tabindex="4"
              maxlength="20"
            >
          </div>

          <div class='termsx' id='termsx'>{{aup}}</div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="aup-check" name='aup-check' required>
            <label class="form-check-label" for="aup-check">I have read and agreed to the terms of service</label>
          </div>
          <br>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Create Profile</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</section>

<script>
document.getElementById("sidenav").style.display = "none";
var navbrand = document.getElementsByClassName("navbar-brand")[0].href = '#';
var name = {{session['name']|tojson}};
var email = {{session['email']|tojson}};
var institution = {{session['institution']|tojson}};

window.onload = setEditFields(name, email, institution);

function setEditFields(name, email, institution){
  document.getElementById('name').value = name;
  document.getElementById('email').value = email;
  document.getElementById('institution').value = institution;
}

var md = new Remarkable('full');
  var aup = {{aup|tojson}};

  $(window).on('load',function(){
    var aup_rendered = md.render(aup);
    $('#termsx').html(aup_rendered);
  });

</script>
{%endblock%}
