{%extends "base.html"%}

{%block title%}
  Profile
{%endblock%}

{%block body%}
<section id="profile" class="bg-light">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h1>Profile</h1>
        <hr/>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="card h-100">
              <div class="card-header">
                Information <i class="fas fa-user-edit float-right"></i>
              </div>
              <div class="card-body">
                <!-- <h5 class="card-title" style="text-align: center"><i class="fas fa-user-edit fa-2x"></i></h5> -->
                <ul class="list-unstyled">
                  <li><strong>Name:</strong> {{profile['name']}}</li>
                  <li><strong>Email:</strong> {{profile['email']}}</li>
                  <li><strong>Phone:</strong> {{profile['phone']}}</li>
                  <li><strong>Institution:</strong> {{profile['institution']}}</li>
                </ul>
                <a href="{{url_for('edit_profile', name=name)}}" class="btn btn-primary btn-sm">Edit Profile</a>
              </div>
            </div>
          </div>
          <br>
          <div class="col-sm-12 col-md-6">
            <div class="card h-100">
              <div class="card-header">
                Groups <i class="fas fa-users float-right"></i>
              </div>
              <div class="card-body">
                <!-- <h5 class="card-title" style="text-align: center"><i class="fas fa-users fa-2x"></i></h5> -->
                <ul class="list-unstyled">
                  {% for group in profile['groups'] %}
                  <li><a href="{{url_for('view_group', name=group)}}">{{group}}</a></li>
                  {% endfor %}
                </ul>
                <a href="{{url_for('create_group')}}" class="btn btn-primary btn-sm">Create a group</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{%endblock%}
