{%extends "base.html"%}

{%block title%}
  Create New Group
{%endblock%}

{%block body%}
<section id="cli-access" class="bg-light">
  <div class="container">
    <div class="page-header">
    </div>

    <div class="row">
      <div class="col-lg-8 mx-auto">

        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_provisionings')}}">Provisionings</a></li>
          <li class="breadcrumb-item active">Install Cluster Provisionings </li>
        </ol>
        <h1>Install Provisioning: </h1>
        <hr/>

        <form role="form" action="#" method="POST">

          <div class="form-group">
            <label for="cluster">Cluster</label>
            <select class="form-control" id="cluster" name="cluster" required="required" tabindex="2">
              <option value="" selected disabled>--- Select One ---</option>
              <option value="new-cluster">< New ></option>
              {% for cluster in clusters %}
              <option value="{{cluster}}">{{cluster['metadata']['name']}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group radio">
            <label><input type="radio" name="install-opt"> SLATE Team Install</label>
          </div>
          <div class="form-group radio">
            <label><input type="radio" name="install-opt"> Self Install</label>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Install</button>
          </div>
        </form>

      </div>

    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div id="accordion" role="tablist" aria-multiselectable="true">

          <div class="card panel panel-info resource-profile" style="margin: 1em;">
            <div class="card-header panel-title" role="tab" id="headingTwo" style="margin: 1em;">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  SLATE Team Install <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-block panel-body disabled" style="font-size: 16px">
                <ol>
                  <li>Access instructions and form</li>
                </ol>
              </div>
            </div>
          </div>

          <div class="card panel panel-info resource-profile" style="margin: 1em;">
            <div class="card-header panel-title" role="tab" id="headingThree" style="margin: 1em">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Self Install<i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="card-block panel-body disabled" style="font-size: 16px">
                <ol>
                  <li>Setup access port and GHCP on control plane</li>
                  <li>Create and plugin USB</li>
                  <li>Generate PIN (done from provisioning API server)</li>
                  <li>Boot USB, enter PIN</li>
                  <li>Generate and display hostname</li>
                  <li>Finalize</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.col-lg-8 mx-auto-->
    </div><!-- /.row -->
  </div>
</section>
{%endblock%}
