{%extends "base.html"%}

{%block title%}My Secrets{%endblock%}

{%block body%}

<section id="clusters" class="bg-light">
  <div class="container col-lg-12 mx-auto">

    <div class='row'>
      <div class="col-lg-12 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item active">Secrets</li>
        </ol>
        <!-- <h2>Secrets</h2>
        <p class="lead">
          List of your secrets registered on SLATE
        </p> -->

        <div class="table-responsive">
          <h4>My Secrets</h4>
          <table class="table" id="secrets-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
            <thead>
              <tr>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="group_id" data-sortable="true">Group</th>
                <th data-field="cluster" data-sortable="true">Cluster</th>
                <th data-field="id" data-sortable="true">Created</th>
              </tr>
            </thead>
            <tbody data-link="row" class="rowlink" style="font-size:14px;">
              {% for secret in secrets %}
              <tr>
                <td><a href="{{url_for('view_group_secrets', name=secret['group'])}}">{{secret['name']}}</a></td>
                <td>{{secret['group']}}</td>
                <td><a href="{{url_for('view_public_cluster', name=secret['cluster'])}}">{{secret['cluster']}}</a></td>
                <td>{{secret['created']}}</td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>

      </div>
    </div>

  </div> <!-- container -->
</section>

<script>
$(document).ready(function() {
    $('#secrets-table').DataTable();
});
</script>
{%endblock%}
