{%extends "base.html"%}

{%block title%}
  Create New Secret
{%endblock%}

{%block body%}
<section id="app-profile" class="bg-light">
  <div class="container">

    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_groups')}}">Group</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('view_group', name=name)}}">{{name}}</a></li>
          <li class="breadcrumb-item active">New Secret</li>
        </ol>
        <h1>Create New Secret: </h1>
        <hr/>

        <form role="form" action="{{url_for('create_secret', name=name)}}" method="POST">

          <div class="form-group">
            <label for="cluster">Cluster</label>
            <select class="form-control" id="cluster" name="cluster" required="required" tabindex="1">
              <option value="" selected disabled>--- Select One ---</option>
              {% for cluster in clusters %}
              <option value="{{cluster['metadata']['name']}}">{{cluster['metadata']['name']}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="secret_name">Secret Name (no whitespace)</label>
            <input type="text" id='secret_name' name='secret_name' class="form-control" placeholder="Secret Name" tabindex="2" required="required">
          </div>

          <div class="form-group">
            <label for="key_name">Key Name (no whitespace)</label>
            <input type="text" id='key_name' name='key_name' class="form-control" placeholder="Key Name" tabindex="3" required="required">
          </div>

          <div class="form-group">
            <label for="key_contents">Key Contents</label>
            <textarea class="form-control" id='key_contents' name='key_contents' placeholder="Place Secret Contents Here" tabindex="4" required="required"></textarea>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Add Secret</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>
<script>
$('#secret_name').keydown(function(e) {
    if (e.keyCode == 32) {
        return false;
    }
});
$('#key_name').keydown(function(e) {
    if (e.keyCode == 32) {
        return false;
    }
});
</script>
{%endblock%}
