{%extends "base.html"%}

{%block title%}
  Create New Secret
{%endblock%}

{%block body%}

<section id="app-profile" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1>Create New Secret: Select Group</h1>
        <form id="select-group" role="form" method="GET">
          {% if not minislate_user %}
          <div class="form-group">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          </div>
          {% endif %}
          <div class="form-group">
            <label for="group">Select Group</label>
            <select class="form-control" id="group" name="select-group">
              <option value="" selected disabled>--- Select One ---</option>
            {% for group in group_list %}
              <option value="{{group['metadata']['name']}}">{{group['metadata']['name']}}</option>
            {% endfor %}
        </select>
     </div>
            <button type="submit" class="btn btn-primary btn-sm">Continue</button>
        </form>

    </div>
  </div>
</section>
<script>
$(document).ready(function(){
  $('#group').change(function() {
    $( "select option:selected" ).each(function() {
      console.log($(this).val());
      var action = '/groups/' + $(this).val()  + '/new_secret';
      console.log(action);
      $('#select-group').attr('action', encodeURI(action)).submit();
    })
  });
});
</script>
{%endblock%}
