{%extends "base.html"%}

{%block title%}Secrets{%endblock%}

{%block body%}

<section id="clusters" class="bg-light">
  <div class="container">

    <div class='row'>
      <div class="col-lg-8 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Secrets</li>
        </ol>
        <h2>Stored Secrets</h2>
        <p class="lead">
          List of stored secrets
        </p>

        <div class="table-responsive">
          <table class="table" id="myTable" data-toggle="table" data-sort-name="name" data-sort-order="desc">
            <thead>
              <tr>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="app" data-sortable="true">Application</th>
                <th data-field="created" data-sortable="true">Created</th>
                <th data-field="vo" data-sortable="true">VO</th>
                <th data-field="cluster" data-sortable="true">Cluster</th>
                <th data-field="id" data-sortable="true">ID</th>
              </tr>
            </thead>
            <tbody data-link="row" class="rowlink" style="font-size:12px;">
              {% for secret in secrets %}
              <tr>
                <td><a href="#"></a>{{secret['metadata']['name']}}</td>
                <td>{{secret['metadata']['application']}}</td>
                <td>{{secret['metadata']['created']}}</td>
                <td>{{secret['metadata']['vo']}}</td>
                <td>{{secret['metadata']['cluster']}}</td>
                <td>{{secret['metadata']['id']}}</td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>

      </div>
    </div>

  </div> <!-- container -->
</section>
{%endblock%}
