{%extends "base.html"%}

{%block title%}
  Volume - {{name}}
{%endblock%}

{%block body%}
<section id="volume-profile" class="bg-light">
  <div class="container col-lg-12 mx-auto">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        {%include 'messages.html' %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('list_volumes')}}">Volume</a></li>
          <li class="breadcrumb-item active">{{volume_details['metadata']['name']}}</li>
        </ol>
        
        
        <h2>Volume: {{volume_details['metadata']['name']}}</h2>
        <h6><strong>Volume ID:</strong> {{volume_details['metadata']['id']}}</h6>
        <h6><strong>Size:</strong> {{volume_details['metadata']['storageRequest']}}</h6>
        <h6><strong>Storage Class:</strong> {{volume_details['metadata']['storageClass']}}</h6>
        <h6><strong>Access Mode:</strong> {{volume_details['metadata']['accessMode]}}</h6>
        <h6><strong>Cluster:</strong> {{volume_details['metadata']['cluster']}}</h6>
        <h6><strong>Group:</strong> {{volume_details['metadata']['group']}}</h6>
        <h6><strong>Created:</strong> {{volume_details['metadata']['created']}}</h6>
        <a href="#" class="btn btn-danger btn-sm btn-box-shadow" onclick="btnConfirm()">Delete Instance</a>
        <hr/>

      </div>
    </div><!-- .row -->
  </div>
</section>

<meta id="volume-data" data-name="{{name}}">
<script>
  
$(document).ready(function() {

});
  
function btnConfirm() {
    var r = confirm("Are you sure you want to delete this volume?");
    if(r == true){
      window.location.href = "{{url_for('delete_volume', name=name)}}";
      loader();
    }
}

</script>
{%endblock%}
