{%extends "base.html"%}

{%block title%}
  VOs
{%endblock%}

{%block body%}
<section id="cli-access" class="bg-light">
  <div class="container">
    <div class="page-header">
      <!-- <h1>CLI Access</h1> -->
      <!-- <p>{{session['tokens']['auth.globus.org']['access_token']}}</p> -->
    </div>

    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">VO</li>
        </ol>
        <h2>VOs</h2>
        <p class="lead">
          A list of your current VOs
        </p>
        <a href="{{url_for('create_vo')}}" class="btn btn-primary btn-sm">Register New VO</a>

        <hr/>

        <table data-toggle="table" data-sort-name="name" data-sort-order="desc">
          <thead>
            <tr>
              <th data-field="name" data-sortable="true">VO Name</th>
              <th data-field="vo_id" data-sortable="true">VO ID</th>
            </tr>
          </thead>
          <tbody data-link="row" class="rowlink" style="font-size:12px;">
            {% for vo in vo_list %}
            <tr>
              <td><a href="{{url_for('view_vo', name=vo['metadata']['name'])}}" title="View VO Profile" style="font-weight:bold">{{ vo['metadata']['name'] }}</a></td>
              <td>{{ vo['metadata']['id'] }}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>

    </div>
  </div>
</section>

<script>

window.onload = get_states();

function get_states(){
  $.ajax({
    url: "http://128.135.158.222:18080/v1alpha1/users?token=3acc9bdc-1243-40ea-96df-373c8a616a16",
    type: "get",
    dataType: 'json',
    success: function(data){
      if(data.items){
         $('#test').html(data.items);
      }

    },
    error: function(xhr){
      //Do Something to handle error
    }
  });
}

function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("cli_access");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}

</script>
{%endblock%}
