{%extends "base.html"%}

{%block title%}
  VOs - {{name}}
{%endblock%}

{%block body%}
<section id="cli-access" class="bg-light">
  <div class="container">
    <div class="page-header">
      <!-- <h1>CLI Access</h1> -->
      <!-- <p>{{session['tokens']['auth.globus.org']['access_token']}}</p> -->
    </div>

    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>VOs</h2>
        <p class="lead">
          VO Information
        </p>

        <hr/>

        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-members-tab" data-toggle="tab" href="#nav-members" role="tab" aria-controls="nav-members" aria-selected="true">Members</a>
            <a class="nav-item nav-link" id="nav-clusters-tab" data-toggle="tab" href="#nav-clusters" role="tab" aria-controls="nav-clusters" aria-selected="false">Clusters</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-members" role="tabpanel" aria-labelledby="nav-members-tab">

            <div class="row">
              <div class="col-lg-8">
              <table class="table table-hover col-lg-8 mx-auto">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  {% for member in vo_members %}
                  {% set member_name = member['metadata']['name'] %}
                  <tr>
                    <td>{{member_name}}</td>
                    <td>{{member['metadata']['email']}}</td>
                    <td>
                      <form role="form" action="{{url_for('vo_remove_member', name=name)}}" method="POST">
                        <button type="submit" name="remove_member" value="{{member['metadata']['id']}}" class="btn btn-danger btn-xs" data-submit="Removing User...">Remove User</button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="col-lg-4 mx-auto">
              <form role="form" action="{{url_for('vo_add_member', name=name)}}" method="POST">
                <!-- <div class="input-group"> -->
                  <fieldset>
                   <label for="newuser">Select New Users</label>
                   <select class="form-control input-group" name="newuser" tabindex="1" required style="width: 100%;">
                     {% for user in non_members %}
                     <option value="{{user['id']}}" required>{{user['name']}}</option>
                     {% endfor %}
                   </select>
                 </fieldset>
                  <button type="submit" name="btn" value="adduser" class="btn btn-primary btn-xs" data-submit="...Sending">Add User</button>
              </form>
            </div>
          </div>
          </div>
          <div class="tab-pane fade" id="nav-clusters" role="tabpanel" aria-labelledby="nav-profile-tab">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Cluster Name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>slate-cluster</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>

<script>

window.onload = get_states();

function get_states(){
  $.ajax({
    url: "http://128.135.158.222:18080/v1alpha1/users?token=3acc9bdc-1243-40ea-96df-373c8a616a16",
    type: "get",
    dataType: 'json',
    success: function(data){
      if(data.items){
         $('#test').html(data.items);
      }

    },
    error: function(xhr){
      //Do Something to handle error
    }
  });
}

function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("cli_access");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}

</script>
{%endblock%}
