# {{ ansible_managed }}

[Unit]
Description=Nginx
After=syslog.target network.target uwsgi.service

[Service]
Type=simple
User=root
ExecStart=/usr/sbin/nginx -g "daemon off;"
Restart=always

[Install]
WantedBy=multi-user.target
