#------------------------------------------------
# Default MRDP application configuration settings
#------------------------------------------------

SERVER_NAME = '{{ slate_hostname }}'

DEBUG = True
SLATE_WEBSITE_LOGFILE = '/tmp/slate-logging.log'

PORTAL_CLIENT_ID = 'XXXX'
PORTAL_CLIENT_SECRET = 'XXXX'

SLATE_API_TOKEN = 'XXXX'
SLATE_API_ENDPOINT = 'https://api-dev.slateci.io:18080'

GLOBUS_AUTH_LOGOUT_URI = 'https://auth.globus.org/v2/web/logout'
