#------------------------------------------------
# Default MRDP application configuration settings
#------------------------------------------------

SERVER_NAME = '{{ slate_hostname }}'

DEBUG = True
SECRET_KEY = '=.DKwWzDd}!3}6yeAY+WTF#W:zt5msTI7]2`o}Y!ziU!#CYD+;T9JpW$ud|5C_3'

SLATE_WEBSITE_LOGFILE = '/tmp/slate-logging.log'

PORTAL_CLIENT_ID = '{{ slate_portal_client_id }}'
PORTAL_CLIENT_SECRET = '{{ slate_portal_client_secret }}'

SLATE_API_TOKEN = '{{ slate_api_token }}'
SLATE_API_ENDPOINT = '{{ slate_api_endpoint }}'

GLOBUS_AUTH_LOGOUT_URI = 'https://auth.globus.org/v2/web/logout'
