# {{ ansible_managed }}

[uwsgi]
socket = :3031
master = true
processes = 32
plugins = python36
venv = {{ slate_install_dest }}/venv
user = portalrunner
chdir = {{ slate_git_dest }}
module = run_portal
callable = app
wsgi_file = {{ slate_git_dest }}/run_portal.py
logto = /tmp/uwsgi.log
