[uwsgi]
socket = :3031
master = true
processes = 32
plugins = python36
venv = {{ slate_install.dest }}/venv
user = centos
chdir = {{ slate_git.dest }}
module = run_portal
callable = app
wsgi_file = {{ slate_git.dest }}/run_portal.py
logto = /tmp/uwsgi.log
