[Unit]
Description=uWSGI
After=syslog.target network.target

[Service]
Type=simple
User=centos
ExecStart=/usr/sbin/uwsgi --ini {{ slate_install.dest }}/slate.ini --die-on-term
Restart=always

[Install]
WantedBy=multi-user.target
