# {{ ansible_managed }}

[Unit]
Description=uWSGI
After=syslog.target network.target

[Service]
Type=simple
User=portalrunner
ExecStart=/usr/sbin/uwsgi --ini {{ slate_install_dest }}/slate.ini --die-on-term
Restart=always

[Install]
WantedBy=multi-user.target
